
/*************************************************************/
/*=============== XII. GAME SETTINGS ========================*/
/*************************************************************/

/* ================== 1. MANAGE MODULES ===================== */
#module-management {
  max-width: 600px;
  max-height: 65vh;
}
#module-management .window-content {
  overflow: auto;
  min-height: 437px !important;
  max-height: 437px;
  background: url(../img/ui/frames/window-app-background-bookshelf.png);
}
#module-management .window-content .modules-list {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;
  border-top: 3px double #b7b7b747;
  border-bottom: 3px double #b7b7b747;
  overflow-y: auto;
  height: calc(100% - 76px);
}
#module-management .window-content .modules-list .module {
  padding: 6px;
  margin: 3px 0px 0px 0px;
  border: 3px groove #564d3a;
  box-shadow: 0 0 6px #000 inset;
  line-height: normal;
  background: #0b1115b5;
}
#module-management .window-content .modules-list .module h1,
#module-management .window-content .modules-list .module h2,
#module-management .window-content .modules-list .module h3,
#module-management .window-content .modules-list .module h4,
#module-management .window-content .modules-list .module p {
  border: none;
  background: none;
}
#module-management .window-content .modules-list .module header {
  border: none;
}
#module-management .window-content .modules-list .module header input[type="checkbox"] {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #cccccc;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 8px inset black;
  background: #352516;
  position: relative;
  top: 2px;
}
#module-management .window-content .modules-list .module header .title {
  flex: 2;
  line-height: normal;
  margin: 0;
  padding: 4px 0px 0px 6px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  text-align: left;
}
#module-management .window-content .modules-list .module header .author {
  flex: 1;
  margin: 0px;
  padding: 4px 0px 0px 4px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #de6262;
  text-shadow: 0px 0px 4px black;
  line-height: normal;
  text-align: right;
}
#module-management .window-content .modules-list .module section {
  margin: 3px 0px 3px 0px;
  padding: 5px 0;
  border-top: 1px solid #ffffff7a;
  border-bottom: 1px solid #ffffff7a;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
}
#module-management .window-content .modules-list .description {
  color: white;
  margin: 4px 0;
  padding: 4px 4px;
}
#module-management .window-content .modules-list .module section button {
  width: auto;
  height: auto;
  padding: 3px 13px;
  margin: 0px;
  line-height: normal;
  border: 1px solid black;
  border-image: url(../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  background: url(../img/ui/sidebar_button-background_red.png) repeat;
  font-family: var(--major-button-font-family);
  font-size: 17px;
  font-weight: var(--major-button-font-weight);
  color: var(--major-button-color);
}
#module-management .window-content .modules-list .module section button i {
  display: none;
}
#module-management .window-content .modules-list .module footer {
  border: none;
}
#module-management .window-content button[name="submit"] {
  margin: 0 3px 10px 3px !important;
}
#module-management .package >*,
#module-management .module-description {
  color:#CCC
}

/* ================== 2. CONFIGURE SETTINGS ================= */
#client-settings {
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../img/ui/game-settings-border.png) 5 repeat;
  border-image-slice: 162 81 67 80;
  border-image-width: 162px 81px 67px 80px;
  border-image-outset: 0px;
  background: none;
  height: 802px !important;
  width: 800px !important;
  box-shadow: none;
}
#client-settings .window-header {
  border: none;
  min-height: 152px;
  background: none;
}
#client-settings .window-header h4 {
  display: none;
}
#client-settings .window-header .close {
  color: #00e5ff00;
  text-align: center;
  background: url(../img/ui/buttons/button-close.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 97px;
  right: 24px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background: var(--debug-background-color-blue); */
}
#client-settings .window-content {
  margin: 0px 70px 57px 70px;
  padding: 0px;
  border: none;
  background: url(../img/ui/game-settings-background.png);
  background-size: 199%;
  background-position-x: center;
}
#client-settings .window-content form {
  padding: 6px;
  margin: 0px 8px 0px 0px;
  border: none;
  background: none;
  box-shadow: inset 0px 0px 4px black;
  overflow-y: unset;
}
#client-settings section.content {
  border-top: none;
  overflow: scroll;
  overflow-x: auto;
  max-height: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#client-settings section.content .settings-list {
  max-height: calc(100vh - 150px);
  overflow-y: unset;
  padding-right: 0.5em;
}
#client-settings .window-content form .form-group {
  flex: 2;
  line-height: 24px;
  border: 1px solid #736953a6;
  box-shadow: 0px 0px 10px inset black;
  background: #000000e8;
  border-radius: 0px;
  opacity: 0.9;
  min-width: 93px;
  color: #efefef;
  padding: 6px;
  margin: 8px 0px;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 16px;
}
#client-settings .window-content form .form-group > label {
  flex: 2;
  line-height: normal;
  padding: 5px 0px 0px 0px;
  font-size: 16px;
  color: #e2e2e2;
  border: none;
  text-align: left;
  background: none;
}
#client-settings .window-content form h2 {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #ccc6c6;
  font-family: CaslonAntique;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  border: 3px double #736953a6;
  background: #310a0a91;
  box-shadow: inset 0px 0px 5px black;
}
#client-settings .window-content form .form-group select {
  height: 25px;
  max-width: 340px;
  background: #352516;
  color: #e2e2e2;
  border: 1px solid #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 4px;
  padding: 3px 0px 0px 0px;
  text-overflow: ellipsis;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
}
#client-settings .window-content form .hint {
  flex: 0 0 100%;
  font-size: 14px;
  color: #a09c88;
  margin: 3px 0 0;
  padding: 0px 0px;
  border: none;
  background: none;
  line-height: initial;
}
#client-settings .window-content button {
  flex: 2;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
  line-height: normal;
  border: 3px double #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 0px;
  opacity: 0.9;
  text-align: center;
  min-width: 93px;
  color: #e2e2e2;
  font-family: CaslonAntique;
  font-weight: 500;
  font-size: 19px;
  text-shadow: 1px 1px 6px black;
  border-image: url(../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  background: url(../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
}
#client-settings .window-content .far.fa-save {
  display: none;
}

#client-settings input[type="checkbox"]:checked + label {
  background: none;
  border: 1px solid white;
}

/* ================== 3. GAME CONTROLS REFERENCE ============ */
#controls-reference {
  max-width: 600px;
  max-height: 65vh;
}
#controls-reference .window-content {
  padding: 7px 2px 7px 7px;
  max-height: none;
  background: url(../img/ui/frames/window-app-background-system-background.png);
}
#controls-reference .window-content div {
  overflow-y: scroll;
}
#controls-reference .window-content div * {
  overflow-y: hidden;
  color: #CCC;
}

#controls-reference h3 {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #ccc6c6;
  font-family: CaslonAntique;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  border: 3px double #736953a6;
  background: #2b2b2b91;
  box-shadow: inset 0px 0px 5px black;
}
#controls-reference .keys {
  margin-left: 5px;
  padding: 0px 0px 0px 0px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: white;
}
#controls-reference .keys .key {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  background: #adadad !important;
  box-shadow: 0px 0px 3px black inset !important;
  position: relative;
  top: 5px;
}

/*************************************************************/
/*************************************************************/

