
/* ==================== (A) AWESOME FONT ICON CHANGES ========= */
.fa-check-circle:before {
  content: "\f058" !important;
}
.fa-trash:before {
  content: "\f2ed" !important;
  position: relative !important;
  left: 0px !important;
}

/* ==================== (B) BUTTON BEHAVIOR CHANGES =========== */
a:hover {
  text-shadow: 0 0 8px #ff9f00 !important;
}
button:hover {
  box-shadow: 0 0 5px #ff9f00 !important;
}
input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 5px #ff9f00 !important;
  outline: none;
}

/* ==================== (C) TINY MCE EDITOR FONT CHANGES ====== */
.app.window-app .editor {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 100%;
  word-break: break-word;
}
.app.window-app .editor-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.app.window-app .editor-content img {
  min-height: none !important;
  max-height: none !important;
  min-width: none !important;
  max-width: none !important;
}
.app.window-app  .tox.tox-tinymce {
  visibility: hidden;
  height: inherit !important;
  width: 100%;
}
#tinymce > p > span {
  width: 100%;
  color: red !important;
}
.app.window-app .editor .editor-content h1 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-size: 2em;
  font-weight: normal;
  color: var(--actor-input-color);
  border-bottom: 2px groove #782e22;
}
.app.window-app .editor .editor-content h2 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-size: 1.5em;
  font-weight: normal;
  color: var(--actor-input-color);
  border-bottom: 1px solid #782e22;
}
.app.window-app .editor .editor-content h3 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-size: 1.125em;
  font-weight: normal;
  color: var(--actor-input-color);
  border: none;
  background: none;
}
.app.window-app .editor .editor-content h4 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-weight: normal;
  color: var(--actor-input-color);
  border: none;
  background: none;
}
.app.window-app .editor .editor-content h5 {
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-size: 0.83em;
  font-weight: bold;
  color: var(--actor-input-color);
  border: none;
  background: none;
}
.app.window-app .editor .editor-content h6 {
  padding: 0;
  font-family: var( --actor-input-font-family);
  font-size: 0.67em;
  font-weight: bold;
  color: var(--actor-input-color);
  border: none;
  background: none;
}
.app.window-app .editor .editor-content p code {
  font-family: "Lucida Console";
}
.app.window-app .editor .editor-content p {
  margin: 0.5em 0;
  padding: 0px;
  font-size: 14px;
  font-family: var( --actor-input-font-family);
  color: var(--actor-input-color);
  background: none;
  border: none;
  width: 100%;
}
.app.window-app .editor .editor-content blockquote {
  margin: 0.5em 0 0.5em 5px;
  padding: 0 0 0 10px;
  border-left: 3px ridge #825d4b87;
  font-style: italic;
}
.app.window-app .editor .editor-content div {
  margin: 0.5em 0;
  padding: 0px;
  font-family: var( --actor-input-font-family);
  color: var(--actor-input-color);
  background: none;
  border: none;
}
.app.window-app .editor .editor-content pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
.app.window-app .editor .editor-content section.secret {
  padding: 0 5px;
  background: rgba(53, 0, 121, 0.05);
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.app.sheet .editor-content {
  padding:5px;
}

/* ==================== (D) APPLICATION BODY ================== */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;;
  padding: 0px;
  overflow: hidden;
  background: url(../img/ui/background.png) repeat;
  font-size: 14px;
}
input[type="text"], input[type="password"] {
  min-width: 20px;
  background: none;
  padding: 1px 3px;
  margin: 0;
  border: none;
  border-radius: 0px;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  color: #111;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* ==================== (E) GLOBAL CSS VARIABLES ============== */
:root {
  /* =================== 1. ACTOR SHEET FONT STYLES =========== */
  --window-header-title-font-family: CaslonAntique;
  --window-header-title-font-size: 19px;
  --window-header-title-font-weight: normal;
  --window-header-title-color: #f5f5f5;

  --major-button-font-family: CaslonAntique;
  --major-button-font-size: 20px;
  --major-button-font-weight: normal;
  --major-button-color: #dadada;

  --tab-header-font-family: CaslonAntique;
  --tab-header-font-size: 16px;
  --tab-header-font-weight: 700;
  --tab-header-color: #403f3e;
  --tab-header-color-active: #4a0404;

  --actor-input-font-family: CaslonPro;
  --actor-input-font-size: 14px;
  --actor-input-font-weight: 500;
  --actor-input-color: black;

  --actor-label-font-family: CaslonAntique;
  --actor-label-font-size: 16px;
  --actor-label-font-weight: 700;
  --actor-label-color: #464331c4;

  /* =================== 2. DEBUGGING HIGHLIGHTERS ============ */
  --debug-background-color-red: #ff000054;
  --debug-background-color-blue: #1d00ff54;
  --debug-background-color-green: #54ff0054;

  --debug-box-shadow-red: inset 0 0 2px red;
  --debug-box-shadow-blue: inset 0 0 2px blue;
  --debug-box-shadow-green: inset 0 0 2px green;
}

/* ==================== (F) SCROLLBAR ========================= */
.app.window-app.sheet.wng.actor ::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat;  */
  border-image: url(../img/ui/scrollbars/sheet-light-scrollbar-thumb.png) 10 repeat;
  border-image-width: 5px;
  border-image-outset: 0px;
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-button {
  background: #782e22;
  height: 23px;
  border: none;
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-decrement.png) no-repeat;
  box-shadow: none;
  height: 16px;
  background-position-y: 0px;
  /* background: red; */
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-increment.png) no-repeat;
  background-position-y: 0px;
  box-shadow: none;
  height: 16px;
  /* background: red; */
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app.sheet.wng.actor ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 4px 68px;
  box-shadow: none;
  border-radius: 0px;
  /* background: blue; */
}

.app.window-app .editor ::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0
}
.app.window-app .editor ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat;  */
  border-image: url(../img/ui/scrollbars/sheet-light-scrollbar-thumb.png) 10 repeat;
  border-image-width: 5px;
  border-image-outset: 0px;
}
.app.window-app .editor ::-webkit-scrollbar-button {
  background: #782e22;
  height: 23px;
  border: none;
}
.app.window-app .editor ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-decrement.png) no-repeat;
  box-shadow: none;
  height: 16px;
  background-position-y: 0px;
  /* background: red; */
}
.app.window-app .editor ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-increment.png) no-repeat;
  background-position-y: 0px;
  box-shadow: none;
  height: 16px;
  /* background: red; */
}
.app.window-app .editor ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app .editor ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app .editor ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 4px 68px;
  box-shadow: none;
  border-radius: 0px;
  /* background: blue; */
}


.app.window-app.sheet.item-sheet ::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat;  */
  border-image: url(../img/ui/scrollbars/sheet-light-scrollbar-thumb.png) 10 repeat;
  border-image-width: 5px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-button {
  background: #782e22;
  height: 23px;
  border: none;
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-decrement.png) no-repeat;
  box-shadow: none;
  height: 16px;
  background-position-y: 0px;
  /* background: red; */
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-button-vertical-increment.png) no-repeat;
  background-position-y: 0px;
  box-shadow: none;
  height: 16px;
  /* background: red; */
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app.sheet.item-sheet ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-light-scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 4px 68px;
  box-shadow: none;
  border-radius: 0px;
  /* background: blue; */
}

#sidebar ::-webkit-scrollbar {
  width: 14px;
}
#sidebar ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat; */
  border-image: url(../img/ui/scrollbars/scrollbar-thumb.png) 25 repeat;
  border-image-width: 25px;
  border-image-outset: 0px;
  min-height: 40px;
}
#sidebar ::-webkit-scrollbar-button {
  background: #782e22;
  height: 25px;
  border: none;
}
#sidebar ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-decrement.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
#sidebar ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-increment.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
#sidebar ::-webkit-scrollbar-button:vertical:start:increment,
#sidebar ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
#sidebar ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 9px 110px;
  box-shadow: none;
}

.app.window-app.form ::-webkit-scrollbar {
  width: 14px;
}
.app.window-app.form ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat; */
  border-image: url(../img/ui/scrollbars/scrollbar-thumb.png) 25 repeat;
  border-image-width: 25px;
  border-image-outset: 0px;
  min-height: 40px;
}
.app.window-app.form ::-webkit-scrollbar-button {
  background: #782e22;
  height: 25px;
  border: none;
}
.app.window-app.form ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-decrement.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app.form ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-increment.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app.form ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app.form ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app.form ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 9px 110px;
  box-shadow: none;
}

.window-app.app.filepicker ::-webkit-scrollbar {
  width: 10px;
  box-shadow: inset 0 0
}
.window-app.app.filepicker ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat;  */
  border-image: url(../img/ui/scrollbars/sheet-dark-scrollbar-thumb.png) 10 repeat;
  border-image-width: 5px;
  border-image-outset: 0px;
}
.window-app.app.filepicker ::-webkit-scrollbar-button {
  background: #782e22;
  height: 23px;
  border: none;
}
.window-app.app.filepicker ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-decrement.png) no-repeat;
  box-shadow: none;
  height: 16px;
  background-position-y: 0px;
  /* background: red; */
}
.window-app.app.filepicker ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-increment.png) no-repeat;
  background-position-y: 0px;
  box-shadow: none;
  height: 16px;
  /* background: red; */
}
.window-app.app.filepicker ::-webkit-scrollbar-button:vertical:start:increment,
.window-app.app.filepicker ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.window-app.app.filepicker ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 4px 68px;
  box-shadow: none;
  border-radius: 0px;
  /* background: blue; */
}

.app.window-app.dialog ::-webkit-scrollbar {
  width: 14px;
}
.app.window-app.dialog ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat; */
  border-image: url(../img/ui/scrollbars/scrollbar-thumb.png) 25 repeat;
  border-image-width: 25px;
  border-image-outset: 0px;
  min-height: 40px;
}
.app.window-app.dialog ::-webkit-scrollbar-button {
  background: #782e22;
  height: 25px;
  border: none;
}
.app.window-app.dialog ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-decrement.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app.dialog ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-increment.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app.dialog ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app.dialog ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app.dialog ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 9px 110px;
  box-shadow: none;
}

.app.window-app ::-webkit-scrollbar {
  width: 14px;
}
.app.window-app ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: none;
  /* background: url(../img/ui/scrollbar.png) no-repeat; */
  border-image: url(../img/ui/scrollbars/scrollbar-thumb.png) 25 repeat;
  border-image-width: 25px;
  border-image-outset: 0px;
  min-height: 40px;
}
.app.window-app ::-webkit-scrollbar-button {
  background: #782e22;
  height: 25px;
  border: none;
}
.app.window-app ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-decrement.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/scrollbar-button-vertical-increment.png) no-repeat;
  background-position: center;
  box-shadow: none;
  box-shadow: none;
}
.app.window-app ::-webkit-scrollbar-button:vertical:start:increment,
.app.window-app ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.app.window-app ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/scrollbar-track.png) repeat-y;
  background-position: center;
  background-size: 9px 110px;
  box-shadow: none;
}

#sidebar #chat-form ::-webkit-scrollbar {
  width: 10px !important;
}
#sidebar #chat-form ::-webkit-scrollbar-thumb {
  outline: none !important;
  border-radius: 3px !important;
  background: none !important;
  border-image: url(../img/ui/scrollbars/sheet-dark-scrollbar-thumb.png) 10 repeat !important;
  border-image-width: 5px !important;
  border-image-outset: 0px !important;
}
#sidebar #chat-form ::-webkit-scrollbar-button {
  background: #782e22 !important;
  height: 23px !important;
  border: none !important;
}
#sidebar #chat-form ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-decrement.png) no-repeat !important;
  box-shadow: none !important;
  height: 16px !important;
  background-position-y: 1px !important;
}
#sidebar #chat-form ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-increment.png) no-repeat !important;
  background-position-y: -1px !important;
  box-shadow: none !important;
  height: 16px !important;
}
#sidebar #chat-form ::-webkit-scrollbar-button:vertical:start:increment,
#sidebar #chat-form ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none !important;
}
#sidebar #chat-form ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-track.png) repeat-y !important;
  background-position: center !important;
  background-size: 4px 68px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.window-app.dialog .talent-selector ::-webkit-scrollbar {
  width: 10px !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-thumb {
  outline: none !important;
  border-radius: 3px !important;
  background: none !important;
  border-image: url(../img/ui/scrollbars/sheet-dark-scrollbar-thumb.png) 10 repeat !important;
  border-image-width: 5px !important;
  border-image-outset: 0px !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-button {
  background: #782e22 !important;
  height: 23px !important;
  border: none !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-button:start:decrement {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-decrement.png) no-repeat !important;
  box-shadow: none !important;
  height: 16px !important;
  background-position-y: 1px !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-button:end:increment {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-button-vertical-increment.png) no-repeat !important;
  background-position-y: -1px !important;
  box-shadow: none !important;
  height: 16px !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-button:vertical:start:increment,
.window-app.dialog .talent-selector ::-webkit-scrollbar-button:vertical:end:decrement {
  display: none !important;
}
.window-app.dialog .talent-selector ::-webkit-scrollbar-track {
  background: url(../img/ui/scrollbars/sheet-dark-scrollbar-track.png) repeat-y !important;
  background-position: center !important;
  background-size: 4px 68px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

/* ==================== (G) LIST STYLING ====================== */
.app.window-app.sheet.wng.actor .items > .item:nth-child(odd):not(.inventory-header) {
  background-color: #7b733b29;
}
.app.window-app.sheet.wng.actor .items > .item:nth-child(even):not(.inventory-header) {
  background-color: #9e856a0d;
}
.app.window-app.sheet.wng.actor .inventory-list .item .untrained {
  opacity: 0.5;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: -webkit-baseline-middle;
}

.app.window-app.sheet.wng.actor .item-summary {
  text-align: left;
  font-family: var(--actor-input-font-family);
  font-size: 13px;
  font-weight: var(--actor-input-font-weight);
  color: #131212;
  line-height: normal;
  margin: 3px 3px 3px 3px;
  padding: 2px 3px 0px 3px;
  background: #73695342;
  box-shadow: inset 0px 0px 1px #00000096;
}
.app.window-app.sheet.wng.actor .item-summary > p {
  margin: 0px;
  padding: 0px;
  color: var(--actor-input-color);
  border: none;
  background: none;
}
.app.window-app.sheet.wng.actor .item-properties {
  text-align: left;
  font-family: var(--actor-input-font-family);
  font-size: 13px;
  font-weight: var(--actor-input-font-weight);
  color: #131212;
  line-height: normal;
  margin: 3px 0px 0px 0px;
  padding: 0px;
  height: max-content;
  width: 100%;
  display: flow-root;
}
.app.window-app.sheet.wng.actor .tag {
  float: left;
  margin: 0 3px 3px 0;
  padding: 0 3px;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/******************************************************************/
/******************************************************************/
