
/******************************************************************/
/*=============== IV. ITEM SHEET =================================*/
/******************************************************************/
.app.window-app.sheet.item-sheet .window-title {
  display: none;
}
.app.window-app.sheet.item-sheet .close {
  color: #00e5ff00;
  text-align: center;
  background: url(../img/ui/buttons/button-close.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 19px;
  right: 32px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background: var(--debug-background-color-blue); */
}

.app.window-app.sheet.item-sheet .post {
  color: #00e5ff00;
  text-align: center;
  background: url(../img/ui/buttons/button-post.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 19px;
  right: 90px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background: var(--debug-background-color-blue); */
}

/* ==================== (A) EQUIPMENT ========================= */
.app.window-app.sheet.item-sheet {
  box-shadow: none;
  background: none;
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
  min-width: 540px;
  min-height: 552px;
  /* width: 540px !important; */
  /* height: 552px !important; */
}
.app.window-app.sheet.item-sheet.career-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-red.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.disease-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-green.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.equipment-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.injury-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-black.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.mutation-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-black.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.prayer-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-white.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.psychology-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-black.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.skill-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-yellow.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.spell-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-purple.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.talent-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-blue.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet {
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-blue.png);
  border-image-slice: 59;
  border-image-width: 59px;
  border-image-outset: 0px;
}

.app.window-app.sheet.item-sheet .window-header {
  flex: 0 0 30px;
  padding: 0 8px;
  line-height: 30px;
  border-bottom: none;
  border: none;
}

.app.window-app.sheet.item-sheet .window-content {
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
  background: url(../img/ui/frames/parchment-texture.png);
  padding: 8px;
  color: #111;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 28px 58px 58px 58px;
  box-shadow: 0 0 8px #000000 inset;
  border: none;
}
.app.window-app.sheet.item-sheet .window-content .wng.item-sheet {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  color: #111;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.app.window-app.sheet.item-sheet .item-header h3 {
  font-size: 2em;
  height: inherit;
  border-bottom: none;
  margin: 0px;
  color: white;
  box-shadow: 0px 0px 10px black inset;
}
.app.window-app.sheet.item-sheet .item-header h1 {
  border: none;
  margin: 0px;
  padding: 0px;
}
.app.window-app.sheet.item-sheet .item-header input[type="text"], input[type="password"] {
  min-width: 20px;
  background: none;
  padding: 1px 3px;
  margin: 0;
  border: 1px solid blue;
  border-image: url(../img/ui/item-sheet-header.png) repeat;
  border-image-slice: 5;
  border-image-width: 4px;
  border-image-outset: 0px;
  border-radius: 0px;
  font-family: CaslonAntique;
  font-size: 20px;
  font-weight: 500;
  color: #670c0c;
  text-shadow: 0px 0px 1px #00000063;
  text-align: center;
  width: 100%;
  position: relative;
  display: inline-block;
  box-shadow: 0px 0px 3px black inset;
  opacity: 0.9;
}
.app.window-app.sheet.item-sheet input[type="text"]:focus, input[type="password"]:focus {
  box-shadow:none;
  outline: none;
}

.app.window-app.sheet.item-sheet .item-details > li > * {
  flex: 1;
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 8px;
}

.app.window-app.sheet.item-sheet .item-header {
  display: block;
}
.app.window-app.sheet.item-sheet .item-details {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 0px 0px 0px;
  justify-content: unset;
  padding: 0px;
  padding-left: 54px;
  height: 25px;
  width: 100%;
  vertical-align: top;
  /* background: #0000ff66; */
  position: relative;
  top: -58px;
  left: 0px;
}
.app.window-app.sheet.item-sheet img {
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  padding: 0px;
}
.app.window-app.sheet.item-sheet .item-details .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 3px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet .item-details .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px !important;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet .item-details .input-box.category {
  padding-top: 5px !important;
}
.app.window-app.sheet.item-sheet .item-details .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 0px;
  width: 44px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  background: none;
}
.app.window-app.sheet.item-sheet .item-details.row2 .input-text {
  flex-grow: 2;
  width: 100%;
}
.app.window-app.sheet.item-sheet .item-details .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}
.app.window-app.sheet.item-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 169px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 169px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -50px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.trait-sheet .sheet-tabs {
  margin: -25px 0px 0px 0px;
}
.app.window-app.sheet.item-sheet .sheet-tabs.tabs > a {
  border-image-outset: 0px;
  color: #403f3e;
  border: 1px solid blue;
  border-image: url(../img/ui/actor-sheet-tab-border.png) 4 repeat;
  border-image-width: 4px;
  padding: 3px 0px 0px 0px;
}
.app.window-app.sheet.item-sheet .sheet-tabs.tabs .item.active {
  border-radius: 0px;
  border-bottom: none;
  width: 72px;
  color: #4a0404;
  box-shadow: none;
  text-shadow: none;
}

.app.window-app.sheet.item-sheet .tab.details.active {
  display: flex;
  flex-flow: column;
  height: calc(100% - 129px);
  overflow-y: scroll;
}
.app.window-app.sheet.item-sheet .tab .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 0px 3px 0px 3px;
  flex-grow: 2;
  vertical-align: middle;
  width: 406px;
  background: none;
}
.app.window-app.sheet.item-sheet .tab .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet .tab .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet  .input-box.textarea {
  height: 100%;
}
.app.window-app.sheet.item-sheet  .input-box.textarea textarea {
  resize: none;
  height: 100%;
  text-align: unset
}
.app.window-app.sheet.item-sheet  .label-text.textarea {
  height: unset;
}
.app.window-app.sheet.item-sheet .tab .input-text:focus {
  outline: none;
}
.app.window-app.sheet.item-sheet .tab .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: none;
  background: none;
}
.app.window-app.sheet.item-sheet .tab .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}
.app.window-app.sheet.item-sheet .tab .form-group > select {
  width: inherit;
  background: none;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  padding: 0px;
  padding-top: 4px;
  font-family: CaslonPro;
  font-size: 14px;
  font-weight: 500;
  color: black;
  height: 25px;
  text-align-last: center;
  box-shadow: none;
}
.app.window-app.sheet.item-sheet .tab .form-group .item-checkbox {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 5px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
  text-align: center;
}
.app.window-app.sheet.item-sheet .tab .form-group-stacked {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
  padding-top: 0px;
}
.app.window-app.sheet.item-sheet .tab .form-group-stacked .label-text {
  padding-top: 3px;
}
.app.window-app.sheet.item-sheet .tab .form-group-stacked .input-box {
  height: 24px;
  border: 1px solid #736953a6;
  border-top: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  top: 0px;
  left: 0px;
}
.app.window-app.sheet.item-sheet .tab.details.active .input-box:last-of-type {
  margin-bottom: 3px;
}
.app.window-app.sheet.item-sheet .tab .form-group-stacked .input-text {
  text-align: left;
}

.app.window-app.sheet.item-sheet .content {
  height: 100%
}
.app.window-app.sheet.item-sheet .tab.active {
  display: flex;
  flex-flow: column;
  height: calc(100% - 129px);
  overflow-y: scroll;
}
.app.window-app.sheet.item-sheet .tab.description.active {
  display: flex;
  flex-flow: column;
  height: calc(100% - 129px);
  overflow-y: hidden;
}
.app.window-app.sheet.item-sheet .editor {
  border: 1px solid #736953a6;
  box-shadow: 0px 0px 1px inset black;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  padding: 3px;
  margin-top: 6px;
}

/* ==================== (B) CAREERS =========================== */
.app.window-app.sheet.item-sheet.career-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.career-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.career-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.career-sheet #characteristics-label {
  height: auto;
  padding-top: 10px;
}
.app.window-app.sheet.item-sheet.career-sheet #characteristics-table {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  background: none;
}
.app.window-app.sheet.item-sheet.career-sheet #characteristics-table th {
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 5px;
}
.app.window-app.sheet.item-sheet.career-sheet #characteristics-table th label {
  background: none;
  border: none;
  color: black;
}

/* ==================== (C) DISEASES ========================== */
.app.window-app.sheet.item-sheet.disease-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.disease-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.disease-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.disease-sheet .tab .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.disease-sheet .tab .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (D) TALENTS =========================== */
.app.window-app.sheet.item-sheet.talent-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.talent-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.talent-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.talent-sheet .tab .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.talent-sheet .tab .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (E) INJURIES ========================== */
.app.window-app.sheet.item-sheet.injury-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.injury-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.injury-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.injury-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.injury-sheet .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet.injury-sheet .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 1px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet.injury-sheet .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet.injury-sheet .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.injury-sheet .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (F) MUTATION ========================== */
.app.window-app.sheet.item-sheet.mutation-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.mutation-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.mutation-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.mutation-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* ==================== (G) CREATURE TRAIT ==================== */
.app.window-app.sheet.item-sheet.creature-trait-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 1px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.creature-trait-sheet .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (H) PRAYER ============================ */
.app.window-app.sheet.item-sheet.prayer-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.prayer-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -21px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.prayer-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.prayer-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.prayer-sheet .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet.prayer-sheet .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 1px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet.prayer-sheet .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet.prayer-sheet .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.prayer-sheet .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (I) PSYCHOLOGY ======================== */
.app.window-app.sheet.item-sheet.psychology-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -21px 0px 0px 0px;
  height: 26px;
  position: relative;
}

/* ==================== (J) SKILL ============================= */
.app.window-app.sheet.item-sheet.skill-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.skill-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.skill-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.skill-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.skill-sheet .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet.skill-sheet .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 1px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet.skill-sheet .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet.skill-sheet .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.skill-sheet .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (K) SPELL ============================= */
.app.window-app.sheet.item-sheet.spell-sheet {
  /* font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700; */
  margin: -29px 0px 0px 0px;
  height: 26px;
  /* position: relative; */
}
.app.window-app.sheet.item-sheet.spell-sheet .sheet-tabs {
  font-family: CaslonAntique;
  font-size: 16px;
  font-weight: 700;
  margin: -29px 0px 0px 0px;
  height: 26px;
  position: relative;
}
.app.window-app.sheet.item-sheet.spell-sheet .sheet-tabs.edges.left {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  left: 59px;
  z-index: 101;
}
.app.window-app.sheet.item-sheet.spell-sheet .sheet-tabs.edges.right {
  margin: 0px;
  height: 25px;
  width: 7px;
  background: url(../img/ui/item-sheet-tab-edges.png) repeat;
  background-position-x: right;
  position: absolute;
  top: 161px;
  right: 59px;
  z-index: 101;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.app.window-app.sheet.item-sheet.spell-sheet .form-group {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 6px 5px 0px 0px;
}
.app.window-app.sheet.item-sheet.spell-sheet .label-text {
  font-family: CaslonAntique;
  font-weight: 700;
  font-size: 16px;
  color: #464331c4;
  text-align: center;
  border: 1px solid #736953a6;
  margin: 0px;
  height: 25px;
  box-shadow: 0 0 10px #00000052 inset;
  padding: 1px 3px 0px 3px;
  vertical-align: top;
  flex-grow: 2;
}
.app.window-app.sheet.item-sheet.spell-sheet .input-box {
  height: 25px;
  border: 1px solid #736953a6;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 0px;
  margin-right: 0px;
  width: 45px;
  position: relative;
  left: 0px;
}
.app.window-app.sheet.item-sheet.spell-sheet .input-text {
  height: 23px;
  border: 1px solid #73695300;
  border-left: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: black;
  padding-top: 7px;
  margin-right: 6px;
  position: relative;
  left: 0px;
  vertical-align: top;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-left: 3px;
  padding-right: 3px;
}
.app.window-app.sheet.item-sheet.spell-sheet .input-text:hover {
  border: 1px dotted #463a3a;
  box-shadow: none;
}

/* ==================== (L) SIDEBAR CHAT FORM ================= */

/******************************************************************/
/******************************************************************/
