
/*************************************************************/
/*=============== XI. SCENE CONTROLS ========================*/
/*************************************************************/
#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
  cursor: default;
  color: #FFF;
  background: url(../img/ui/sidebar_button-background_red.png) repeat !important;
  background-origin: padding-box !important;
  border-image: url(../img/ui/footer-button.png) 10 repeat !important;
  border-image-width: 4px !important;
  border-image-outset: 0px !important;
  box-shadow: 0 0 3px #ff6400 !important;
}

#controls .scene-control, #controls .control-tool {
  width: 36px !important;
  height: 36px !important;
  box-sizing: content-box !important;
  font-size: 19px !important;
  line-height: 36px !important;
  background: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 3px #000 !important;
  margin: 0 0 8px !important;
  color: #BBB !important;
  text-align: center !important;
  border: 1px solid #000 !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  cursor: default !important;
  color: #FFF !important;
  background: url(../img/ui/sidebar_button-background_cyan.png) repeat !important;
  background-origin: padding-box !important;
  border-image: url(../img/ui/footer-button.png) 10 repeat !important;
  border-image-width: 4px !important;
  border-image-outset: 0px !important;
}
/*************************************************************/
/*************************************************************/


