
/*************************************************************/
/*=============== VIII. ACTOR SHEET (TOKEN) =================*/
/*************************************************************/
.app.window-app.sheet.wng.actor.character-sheet.token-actor {
  background: url(../img/ui/frames/actor-sheet-token-character.png) no-repeat;
  box-shadow: none;
  margin: 0px;
  max-height: none !important;
}
.app.window-app.sheet.wng.actor.creature-sheet.token-actor {
  background: url(../img/ui/frames/actor-sheet-token-creature.png) no-repeat;
  box-shadow: none;
  margin: 0px;
  max-height: none !important;
}
.app.window-app.sheet.wng.actor.npc-sheet.token-actor {
  background: url(../img/ui/frames/actor-sheet-token-npc.png) no-repeat;
  box-shadow: none;
  margin: 0px;
  max-height: none !important;
}
/*************************************************************/
/*************************************************************/
