@import "../../node_modules/bulma/bulma.sass";
@import "wng/actor-character-sheet.scss";
@import "utilities.scss";

.character-sheet
{

  .columns{
    margin: 0 0;
  }
  .column{
    padding: 5px;
  }
  table {
    thead {
      th{
        text-align: center;
      }
      td{
        font-size:12px;
        text-align: center;
        vertical-align: middle;
      }
    }
    tbody{
      th{
        font-size: 10px;
        vertical-align: middle;
      }
      text-align: center;
    }
  }


}
.effects-list {
  height: 100%;
  border: solid black 1px;
  .level{
    margin:0px;
  }
  h2{
    border-bottom: none;
  }
  .effects-list-header{
    background: blanchedalmond;
  }
  .scrollable {
    overflow-y: scroll;
    div {
      border-bottom: solid black 1px;
    }
  }
}

#attributes-table {
  * {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}
#skills-table {
  * {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  height: 90%;
}