<header>
    <div class="columns is-vcentered is-centered">
        <div class="column is-one-fifth">
            <div class="is-flex is-justify-content-center">
                <img class="charimg profile"
                     alt="{{localize 'Player Profile Image'}}"
                     src="{{actor.img}}"
                     title="{{actor.name}}"
                     data-edit="img">
            </div>
        </div>
        <div class="column is-four-fifths">
            <div class="columns">
                <div class="column is-four-fifths">
                    <div class="columns">
                        <!-- Character Name -->
                        <div class="column is-two-thirds">
                            <input name="character-name"
                                   type="text"
                                   alt="{{localize 'Character Name'}}"
                                   value="{{actor.name}}"
                                   placeholder="{{localize 'Character Name'}}" />
                        </div>
                        <!-- Player Name -->
                        <div class="column is-one-third">
                            <input name="player-name"
                                   type="text"
                                   alt="{{localize 'Player Name'}}"
                                   value="{{actor.name}}"
                                   placeholder="{{localize 'Player Name'}}" />
                        </div>
                    </div>
                    <div class="level">
                        <input name="keywords"
                               type="text"
                               value="CATACHAN"
                               placeholder="{{localize 'Keywords'}}" />
                    </div>
                </div>
                <div class="column is-one-fifth">
                    <!-- Wrath -->
                    {{> systems/wng/assets/templates/components/stat-table-single-value.html header='Wrath' value=data.wrath max=0}}
                </div>
            </div>
            <div class="columns" id="header-stats">
                <div class="column">
                    {{> systems/wng/assets/templates/components/stat-table-single-value.html header='Shock' value=data.combat.wounds.value max=0}}
                </div>
                <div class="column">
                    <table>
                        <thead><tr><td>Soak</td></tr></thead>
                        <tbody><tr><td>0</td></tr></tbody>
                    </table>
                </div>
                <div class="column">
                    {{> systems/wng/assets/templates/components/stat-table-single-value.html header='Wounds' value=data.combat.wounds.value max=0}}
                </div>
                <div class="column">
                    <table>
                        <thead>
                            <tr>
                                <td>{{localize "Defense"}}</td>
                                <td colspan="3">{{localize "Resilience"}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="2">0</td>
                                <th>{{localize "Base"}}</th>
                                <th>{{localize "AR"}}</th>
                                <th>{{localize "Total"}}</th>
                            </tr>
                            <tr>
                                <td>{{data.combat.resilience.value}}</td>
                                <td>{{data.combat.resilience.armour}}</td>
                                <td>{{data.combat.resilience.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <table>
                        <tbody>
                        <tr>
                            <th>{{localize "Size"}}</th>
                            <td>{{data.details.size.value}}</td>
                        </tr>
                        <tr>
                            <th>{{localize "Speed"}}</th>
                            <td>{{data.details.speed.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="level" id="combat-effects">
        <a class="level-item">
            <span class="icon is-small"><i class="fas fa-skull-crossbones" aria-hidden="true"></i></span>
            <span>Posions</span>
        </a>
        <a class="level-item">
            <span class="icon is-small"><i class="fas fa-bacterium" aria-hidden="true"></i></span>
            <span>Plague</span>
        </a>
        <a class="level-item">
            <span class="icon is-small"><i class="fas fa-bahai" aria-hidden="true"></i></span>
            <span>Stunned</span>
        </a>
        <a class="level-item">
            <span class="icon is-small"><i class="fas fa-beer" aria-hidden="true"></i></span>
            <span>Drunk as a Skunk</span>
        </a>
    </div>
</header>
