<div class="columns">
    <div class="column is-two-fifths">
        {{> systems/wng/assets/templates/actors/reloads-explosives.html}}
    </div>
    <div class="column is-one-fifth is-offset-2">
        <table>
            <tbody>
            <th>Influence</th>
            <td>0</td>
            </tbody>
        </table>
    </div>
    <div class="column is-one-fifth">
        <table>
            <tbody>
            <th>Wealth</th>
            <td>0</td>
            </tbody>
        </table>
    </div>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th colspan="14">Weapons and Explosives</tr>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Equip</th>
            <th>Weapon</th>
            <th>Atk</th>
            <th>Dmg</th>
            <th>ED</th>
            <th>AP</th>
            <th>Salvo</th>
            <th colspan="3">Range</th>
            <th>Traits</th>
            <th>Upgrades</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="checkbox" name="is-weapon-equipped"></td>
            <td>Heavy Flamer</td>
            <td>8</td>
            <td>12</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>Smells vaguely of petrofuel</td>
            <td>0</td>
            <td>
                <i class="fa fa-info-circle"></i>
                <i class="fa fa-comment-dots"></i>
                <i class="fa fa-trash-alt"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th colspan="14">Ammunition</tr>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                   Avail?
                </th>
                <th>
                    Ammo
                </th>
                <th>
                    Qty.
                </th>
                <th>
                    Type
                </th>
                <th colspan="9">
                    Effect
                </th>
            </tr>
            <tr>
                <td><input type="checkbox" name="is-ammo-equipped"></td>
                <td>Mininukes</td>
                <td>0</td>
                <td>R/E</td>
                <td colspan="9">Smithereens!</td>
                <td>
                    <i class="fa fa-info-circle"></i>
                    <i class="fa fa-comment-dots"></i>
                    <i class="fa fa-trash-alt"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th colspan="14">Armour</tr>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                Equip?
            </th>
            <th>
                Armour
            </th>
            <th>
                AR
            </th>
            <th colspan="7">
                Traits
            </th>
            <th>
                Built-in Tech
            </th>
            <th>
                Upgrades
            </th>
        </tr>
        <tr>
            <td><input type="checkbox" name="is-armour-equipped"></td>
            <td>Flak Jacket</td>
            <td>1</td>
            <td>Armourful</td>
            <td colspan="7">Midichlorian nanobots</td>
            <td>1</td>
            <td>
                <i class="fa fa-info-circle"></i>
                <i class="fa fa-comment-dots"></i>
                <i class="fa fa-trash-alt"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th colspan="14">Tools Equipment and Consumables</tr>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                Equip?
            </th>
            <th>
                Name
            </th>
            <th>
                Qty.
            </th>
            <th>
                Type
            </th>
            <th colspan="10">
                Effect
            </th>
        </tr>
        <tr>
            <td><input type="checkbox" name="is-misc-equipped"></td>
            <td>Nightvision Goggles</td>
            <td>1</td>
            <td>E</td>
            <td colspan="10">+1 to passive perception at night</td>
            <td>
                <i class="fa fa-info-circle"></i>
                <i class="fa fa-comment-dots"></i>
                <i class="fa fa-trash-alt"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>