<div class="columns">
    <div class="column is-one-fifth">
        <div class="level is-justify-content-center">
            <h2 class="level-item">{{localize "Attributes"}}</h2>
        </div>
        <div>
            {{#each data.attributes}}
            <table id="attributes-table">
                <thead>
                    <tr><td colspan="2">{{this.label}}</td></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{this.rating}}</td>
                        <td>{{this.bonus}}</td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{this.total}}</td>
                height: 90%;    </tr>
                </tbody>
            </table>
            {{/each}}
        </div>
    </div>
    <div class="column is-two-fifths">
        <div class="level is-justify-content-center">
            <h2 class="level-item">{{localize "Skill"}}</h2>
        </div>
        <table id="skills-table">
            <thead>
            <tr>
                <td></td>
                <td>{{localize "Attribute"}}</td>
                <td>{{localize "Rating"}}</td>
                <td>{{localize "Bonus"}}</td>
                <td>{{localize "Total"}}</td>
            </tr>
            </thead>
            <tbody>
            {{#each data.skills}}
                    <tr>
                        <th>{{this.label}}</th>
                        {{! This comment will not show up in the output}}
                        {{#with (lookup @root.data.attributes this.attribute)~}}
                            <td>{{this.label}}</td>
                        {{/with}}
                        <td>{{this.rating}}</td>
                        <td>{{this.bonus}}</td>
                        <td>{{this.total}}</td>
                    </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="column is-one-fifth"></div>
    <div class="column is-one-fifth"></div>
</div>