<!-- Tier, XP, Rank -->

<div class="level">
    <div class="level-left">
        <div class="columns">
            <div class="column">
                <label class="level numeric-input">
                    <span>{{localize "Tier"}}</span>
                    <input name="tier" type="number" value=0 placeholder="0" />
                </label>
            </div>
            <div class="column">
                <label class="level numeric-input">
                    <span>{{localize "Starting XP"}}</span>
                    <input name="startingxp" type="number" value=0 placeholder="0" />
                </label>
            </div>
        </div>
    </div>
    <div class="level-right">
        <div class="columns">
            <div class="column">
                <label class="level numeric-input">
                    <span>{{localize "Rank"}}</span>
                    <input name="rank" type="number" value=0 placeholder="0" />
                </label>
            </div>
            <div class="column">
                <label class="level numeric-input">
                    <span>{{localize "Earned XP"}}</span>
                    <input name="earnedxp" type="number" value=0 placeholder="0" />
                </label>
            </div>
            <div class="column">
                <label class="level numeric-input">
                    <span>{{localize "Spent XP"}}</span>
                    <input name="spentxp" type="number" value=0 placeholder="0" />
                </label>
            </div>
        </div>
    </div>
</div>

<div id="purchases">
    <div class="level is-justify-content-center">
        <h2 class="level-item">XP Purchases</h2>
    </div>
    <div class="level is-justify-content-center">
        <table class="is-striped is-fullwidth">
            <thead class="has-text-centered">
                <tr>
                    <td> Purchase </td>
                    <td> Cost </td>
                    <td>
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody contenteditable>
                <tr>
                    <td class="control has-text-left">
                        <input class="input" type="text" placeholder="Purchase">
                    </td>
                    <td class="control has-text-centered">
                        <input class="input" type="text" placeholder="Cost">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="missionlog">
    <div class="level is-justify-content-center">
        <h2 class="level-item">Mission Log</h2>
    </div>
    <div class="columns has-text-centered">
        <div class="column is-2">
            Date
        </div>
        <div class="column is-7">
            Notes
        </div>
        <div class="column is-2">
            XP
        </div>
        <div class="column is-1">
            <button class="button is-small">
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
            </button>
            <button class="button is-small">
                <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">
            <input class="input" type="text" placeholder="Month DD, YYYY">
        </div>
        <div class="column is-7">
            <input class="input" type="text" placeholder="Description">
        </div>
        <div class="column is-2">
            <input class="input" type="text" placeholder="XP Gained">
        </div>
        <div class="column is-1"></div>
    </div>
</div>