/******************************************************************/
/*=============== I. LOCAL FONTS =================================*/
/******************************************************************/

/* ==================== (A) CASLON ANTIQUE ==================== */
@font-face {
  font-family: "CaslonAntique";
  src: url('../../fonts/CaslonAntique.ttf');
}
@font-face {
  font-family: "CaslonAntique";
  src: url('../../fonts/CaslonAntique-Bold.ttf');
  font-weight: bold;
}

/* ==================== (B) ADOBE CASLON PRO ================== */
@font-face {
  font-family: "CaslonPro";
  src: url('../../fonts/ACaslonPro-Regular.otf');
}
@font-face {
  font-family: "CaslonPro";
  src: url('../../fonts/ACaslonPro-Bold.otf');
  font-weight: bold;
}

/******************************************************************/
/******************************************************************/