
/******************************************************************/
/*=============== XIV. MISCELLANEOUS GAME WINDOWS ================*/
/******************************************************************/

/* ==================== (A) DEFAULT WINDOWS =================== */
.app.window-app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  box-shadow: 2px 2px 8px #000000;
  padding: 0;
  margin: 0px;
}
.app.window-app .window-header {
  flex: 0 0 45px;
  padding: 0px 30px;
  margin: 0px;
  border: 1px solid blue;
  border-image: url(../../img/ui/frames/window-app-header-blank.png) 5 repeat;
  border-image-slice: 19 21 19 21 fill;
  border-image-width: 19px 21px 19px 21px;
  border-image-outset: 0px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.app.window-app .window-header .window-title {
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
  visibility: visible;
  font-family: var(--window-header-title-font-family);
  font-size: var(--window-header-title-font-size);
  font-weight: var(--window-header-title-font-weight);
  color: var(--window-header-title-color);
  line-height: normal;
  opacity: 1;
  z-index: 4;
  height: 27px;
  margin: 0px;
  padding: 0px 60px;
  overflow: hidden;
  border: 1px solid blue;
  border-radius: 0px;
  border-image: url(../../img/ui/frames/window-app-title-blank.png) 5 repeat;
  border-image-slice: 13 69 11 69 fill;
  border-image-width: 13px 69px 11px 69px;
  border-image-outset: 9px 0px 9px 0px;
  -webkit-font-smoothing: subpixel-antialiased;
  background: none;
}
.app.window-app .window-header .close {
  color: #00c2d800;
  text-align: center;
  background: url(../../img/ui/buttons/button-close.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 5px;
  overflow: hidden;
}
.app.window-app .window-content {
  background: url(../../img/ui/frames/window-app-background-generic.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding: 0px 7px 3px 7px;
  margin: 0px;
  box-shadow: 0px 0px 20px black inset;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 0px;
}
.app.window-app h4 {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
}
.app.window-app h3 {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
}
.app.window-app h3 i {
  display: none;
}
.app.window-app p {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
}
.app.window-app .form-group,
.app.window-app .form-group-stacked {
  clear: both;
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  margin: 4px 0;
}
.app.window-app .form-group label {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  padding: 4px 3px;
  border: 1px solid #5d513e;
  background: #080808;
}

.trait-sheet .tab.details input[type="text"]{
  border: none;
  box-shadow: none;
  background: none;
  height: unset;
  color: unset;
  padding-top: 5px;
  text-align: center;
}

.app.window-app .form-group input {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
  height: auto;
}

.app.window-app .form-group select {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
  height: auto;
}
.app.window-app .form-group input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #7d5900;
  height: 11px;
  width: 11px;
  border-radius: 5px;
  background: #212121;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
.app.window-app .form-group input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #820f0f , #82820d);
}

.app.window-app.dialog .window-content .dialog-content h3 {
  margin: 3px 0px;
  padding: 4px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #290a0ad9;
  text-align: center;
}
.app.window-app.dialog .window-content .dialog-content p {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: left;
  margin: 4px 0px 4px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}


.app.window-app .dialog-buttons button,
.app.window-app .sheet-footer button,
.app.window-app .form-group .file-picker,
.app.window-app button[type="button"],
.app.window-app button[type="submit"],
.app.window-app button[type="reset"]
{
  flex: 1;
  width: -webkit-fill-available;
  margin: 0 3px 4px 3px;

  border: 1px solid black;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: none;
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;

  font-family: var(--major-button-font-family);
  font-size: var(--major-button-font-size);
  font-weight: var(--major-button-font-weight);
  color: var(--major-button-color);
}
.app.window-app .dialog-buttons button i,
.app.window-app .sheet-footer button i,
.app.window-app .form-group .file-picker i,
.app.window-app button[type="submit"] i {
  display: none
}

/* ================== 1. UPDATE OR CREATE FOLDER ============ */
.app.window-app #folder-create label {
  max-width: 148px;
}
.app.window-app #folder-create input[type="color"] {
  padding: 1px 3px;
  height: 27px;
}

/* ================== 2. PERMISSION ========================= */
#permission {
  width: 400px;
}
#permission .window-header .window-title {
  flex-grow: 0;
  color: transparent;
  border: none;
  background: url(../../img/ui/frames/window-app-title-permissions.png);
  min-width: 235px;
  max-width: 235px;
  min-height: 45px;
  max-height: 45px;
}

/* ================== 3. COMBAT TRACKER SETTINGS ============ */
#combat-config .window-content .form-group .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: left;
  margin: 4px 0px 4px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}

#combat-config > section > form > div:nth-child(2) > input[type=checkbox] {
  position: relative;
  top: 7px;
  margin-left: 6px;
  transform: scale(1);
}

/* ================== 3. SCENE SHEET ======================== */
.app.window-app.sheet.scene-sheet .window-content {
  max-height: 490px;
  min-height: 490px;
}
.app.window-app.sheet.scene-sheet .window-content form {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 7px;
}
.app.window-app.sheet.scene-sheet .window-content form .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
.app.window-app.sheet.scene-sheet .window-content form hr {
  opacity: 0.8;
  border: 2px ridge #503434;
  visibility: hidden;
}

.app.window-app.sheet.scene-sheet .window-content h3 {
  margin: 3px 0px;
  padding: 4px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #290a0ad9;
  text-align: center;
}

.app.window-app.sheet.scene-sheet .form-group:nth-of-type(14) label,
.app.window-app.sheet.scene-sheet .form-group:nth-of-type(15) label,
.app.window-app.sheet.scene-sheet .form-group:nth-of-type(16) label,
.app.window-app.sheet.scene-sheet .form-group:nth-of-type(19) label {
  max-width: none;
}
.app.window-app.sheet.scene-sheet .form-group label span {
  font-size: 14px;
  color: #7d7d7d;
}
.app.window-app.sheet.scene-sheet .form-group .file-picker {
  margin: 0 3px 0px 3px !important;
  box-shadow: 0px 0px 5px black inset;
}
.app.window-app.sheet.scene-sheet .form-group .file-picker i {
  display: contents;
  font-size: 16px;
  color: #b9b9b9;
}
.app.window-app.sheet.scene-sheet .form-group input[type="color"] {
  padding: 1px 3px;
  height: 27px;
}

/* Token Vision */
.app.window-app.sheet.scene-sheet .form-group input[type="checkbox"] {
  position: relative;
  top: 7px;
  margin-left: 6px;
  transform: scale(1);
}


.app.window-app.sheet.scene-sheet button[type="submit"] {
  margin-top: 17px !important;
}

/* ================== 4. SCENE NOTES ======================== */
.app.window-app.sheet.scene-notes .window-content {
  margin: 0px;
  padding: 15px;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/frames/window-app-journal-sheet-content.png) 5 repeat;
  border-image-slice: 25 fill;
  border-image-width: 25px;
  border-image-outset: 0px;
}
.app.window-app.sheet.scene-notes .window-content form {
  padding: 5px;
}
.app.window-app.sheet.scene-notes .window-content .editor {
  border: 1px solid #736953a6;
  padding: 4px;
}


/* ================== 5. CREATE ACTOR ENTITY ================ */
.app.window-app.dialog .dialog-content #entity-create .form-group .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: left;
  margin: 4px 0px 0px 0px;
  padding: 4px 3px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}


/* ================== 6. DELETE ITEM FROM ACTOR ============= */
.app.window-app .dialog-content .delete-item-dialog.selection {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  margin: 4px 0;
  padding: 4px 4px;
  border: 1px solid #5d513e;
  background: #080808;
  text-align: center;
}

/* ================== 7. SHEET CONFIG ======================= */
#sheet-config .form-group:first-of-type label {
  max-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  overflow-wrap: unset;
}
#sheet-config .window-content .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: left;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}

/* ================== 8. SHOW ARTWORK ======================= */
.app.window-app.image-popout .window-header .share-image {
  color: #00e5ff00;
  text-align: center;
  background: url(../../img/ui/buttons/button-show-players.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  left: -1px;
  overflow: hidden;
}
.window-app.app.image-popout .window-content {
  background: url(../../img/ui/frames/parchment-texture.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 30px black inset;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/frames/window-app-journal-sheet-content.png) 5 repeat;
  border-image-slice: 25;
  border-image-width: 25px;
  border-image-outset: 0px 0px 0px 0px;
}

/* ================== 9. TOKEN CONFIG ======================= */
#token-config {
  max-height: 335px;
  min-height: 335px;
}
#token-config .window-content {
  min-height: 370px;
  max-height: 370px;
}
#token-config .sheet-tabs {
  flex: 0 0 32px;
  border-bottom: none;
  line-height: 32px;
  justify-content: space-between;
}
#token-config .sheet-tabs .item {
  margin: 3px 0px;
  padding: 4px 3px 1px 3px;
  max-width: 80px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #0a1829d9;
}
#token-config .sheet-tabs .item:hover {
  box-shadow: 0 0 8px #ff9f00 !important;
}
#token-config .sheet-tabs .item.active {
  background: #290a0ad9;
}
#token-config .sheet-tabs .item i {
  display: none;
}
#token-config .tab {
  max-height: fit-content;
}
#token-config .form-group label span {
  font-size: 14px;
  color: #7d7d7d;
}
#token-config .sheet-footer {
  width: 446px;
  height: 32px;
  position: absolute;
  bottom: -57px;
}

#token-config .tab[data-tab="character"] .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
#token-config .tab[data-tab="character"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 223px;
  left: 294px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}

#token-config .tab[data-tab="image"] .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
#token-config .tab[data-tab="image"] button {
  margin: 0 3px 0px 3px !important;
  box-shadow: 0px 0px 5px black inset;
}
#token-config .tab[data-tab="image"] button i {
  display: contents;
  font-size: 16px;
  color: #b9b9b9;
}
#token-config .tab[data-tab="image"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  left: 329px;
  opacity: 0.75;
  margin-top: 7px;
  box-shadow: 0px 0px 4px inset black;
}
#token-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #7d5900;
  height: 11px;
  width: 11px;
  border-radius: 5px;
  background: #212121;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
#token-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #820f0f , #82820d);
}
#token-config .tab[data-tab="image"] .form-group .scale-value {
  padding: 6px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#token-config .tab[data-tab="image"]:not(:first-of-type) input[type="text"] {
  text-align: center;
}

#token-config .tab[data-tab="position"] .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
#token-config .tab[data-tab="position"] input[type="text"] {
  text-align: center;
}
#token-config .tab[data-tab="position"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 252px;
  left: 288px;
  margin-top: 2px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}

#token-config .tab[data-tab="vision"] .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
#token-config .tab[data-tab="vision"] input[type="text"] {
  text-align: center;
}
#token-config .tab[data-tab="vision"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 128px;
  left: 278px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
  margin-top: 2px;
}

#token-config .tab[data-tab="resources"] .notes {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  margin: 4px 0px 0px 0px;
  padding: 4px 5px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}
#token-config .tab[data-tab="resources"] .form-group label {
  max-width: 183px;
  min-width: 183px;
}
#token-config .tab[data-tab="resources"] .form-group .bar1-value {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#token-config .tab[data-tab="resources"] .form-group .bar2-value {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#token-config .tab[data-tab="resources"] .form-group .sep {
  font-family: var(--actor-input-font-family);
  font-size: 17px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  margin: 0px;
  padding: 5px 0px 0px;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

/* ================== 10. DRAWING CONFIG ==================== */
#drawing-config {
  min-height: 335px;
  overflow-y: auto;
}
#drawing-config .window-content {
  min-height: 290px;
  overflow-y: auto;
}
#drawing-config .sheet-tabs {
  flex: 0 0 32px;
  border-bottom: none;
  line-height: 32px;
  justify-content: space-between;
}
#drawing-config .sheet-tabs .item {
  margin: 3px 0px;
  padding: 4px 3px 1px 3px;
  max-width: 80px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #0a1829d9;
}
#drawing-config .sheet-tabs .item:hover {
  box-shadow: 0 0 8px #ff9f00 !important;
}
#drawing-config .sheet-tabs .item.active {
  background: #290a0ad9;
}
#drawing-config .sheet-tabs .item i {
  display: none;
}
#drawing-config .tab {
  max-height: fit-content;
}
#drawing-config .form-group label span {
  font-size: 14px;
  color: #7d7d7d;
}
#drawing-config .sheet-footer {
  width: 446px;
  height: 32px;
  bottom: 19px;
}

#drawing-config .tab[data-tab="character"] .notes {
  text-align: center;
}
#drawing-config .tab[data-tab="character"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 223px;
  left: 294px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}

#drawing-config .tab[data-tab="image"] .notes {
  text-align: center;
}
#drawing-config .tab[data-tab="image"] button {
  margin: 0 3px 0px 3px !important;
  box-shadow: 0px 0px 5px black inset;
}
#drawing-config .tab[data-tab="image"] button i {
  display: contents;
  font-size: 16px;
  color: #b9b9b9;
}
#drawing-config .tab[data-tab="image"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 160px;
  left: 329px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}
#drawing-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #7d5900;
  height: 11px;
  width: 11px;
  border-radius: 5px;
  background: #212121;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
#drawing-config .tab[data-tab="image"] input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #820f0f , #82820d);
}
#drawing-config .tab[data-tab="image"] .form-group .scale-value {
  padding: 6px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#drawing-config .tab[data-tab="image"]:not(:first-of-type) input[type="text"] {
  text-align: center;
}

#drawing-config .tab[data-tab="position"] .notes {
  text-align: center;
}
#drawing-config .tab[data-tab="position"] input[type="text"] {
  text-align: center;
}
#drawing-config .tab[data-tab="position"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 252px;
  left: 288px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}

#drawing-config .tab[data-tab="vision"] .notes {
  text-align: center;
}
#drawing-config .tab[data-tab="vision"] input[type="text"] {
  text-align: center;
}
#drawing-config .tab[data-tab="vision"] input[type="checkbox"] {
  transform: scale(1);
  position: absolute;
  top: 128px;
  left: 278px;
  opacity: 0.75;
  box-shadow: 0px 0px 4px inset black;
}

#drawing-config .tab[data-tab="resources"] .notes {
  text-align: center;
}
#drawing-config .tab[data-tab="resources"] .form-group label {
  max-width: 183px;
  min-width: 183px;
}
#drawing-config .tab[data-tab="resources"] .form-group .bar1-value {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#drawing-config .tab[data-tab="resources"] .form-group .bar2-value {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}
#drawing-config .tab[data-tab="resources"] .form-group .sep {
  font-family: var(--actor-input-font-family);
  font-size: 17px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  margin: 0px;
  padding: 5px 0px 0px;
  border: 1px solid #736953a6;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

/* ================== 11. JOUNRAL ENTRIES =================== */
.window-app.app.journal-sheet {
  min-width: 470px;
  min-height: 362px;
}
.window-app.app.journal-sheet.image-popout {
  min-width: 417px;
  min-height: 403px;
}

.window-app.app.journal-sheet .window-header .window-title {
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
  visibility: visible;
  font-family: CaslonAntique;
  font-weight: normal;
  font-size: 19px;
  line-height: normal;
  color: #dcdcdc00;
  border-radius: 0px;
  background: url(../../img/ui/frames/window-app-title-journal-entry.png);
  opacity: 1;
  z-index: 4;
  min-width: 235px;
  max-width: 235px;
  min-height: 45px;
  max-height: 45px;
  padding: 0px 60px;
  overflow: hidden;
  border: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.window-app.app.journal-sheet .window-header .share-image {
  color: #00c2d800;
  text-align: center;
  background: url(../../img/ui/buttons/button-show-players.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  left: 0px;
  overflow: hidden;
}
.window-app.app.journal-sheet .window-header .entry-text {
  color: #00c2d800;
  text-align: center;
  background: url(../../img/ui/buttons/button-text.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 57px;
  overflow: hidden;
}
.window-app.app.journal-sheet .window-header .entry-image {
  color: #00c2d800;
  text-align: center;
  background: url(../../img/ui/buttons/button-image.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 31px;
  overflow: hidden;
}

.window-app.app.journal-sheet .window-content {
  background: url(../../img/ui/frames/parchment-texture.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 30px black inset;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/frames/window-app-journal-sheet-content.png) 5 repeat;
  border-image-slice: 25;
  border-image-width: 25px;
  border-image-outset: 0px 0px 0px 0px;
}
.window-app.app.journal-sheet .window-content form {
  margin: 15px;
  height: 100%;
  padding: 5px;
  box-shadow: 0px 0px 3px #00000069 inset;
}
.window-app.app.journal-sheet .window-content .form-group.title {
  position: absolute;
  width: 100%;
  max-width: 90%;
  left: 0px;
}
.window-app.app.journal-sheet .window-content input[name="name"],
.window-app.app.journal-sheet .window-content input[name="title"] {
  border: 1px solid blue;
  border-image: url(../../img/ui/item-sheet-header.png) repeat;
  border-image-slice: 5;
  border-image-width: 4px;
  border-image-outset: 0px;
  border-radius: 0px;
  font-family: CaslonAntique;
  font-size: 20px;
  font-weight: 500;
  color: #670c0c;
  text-shadow: 0px 0px 1px #00000063;
  text-align: center;
  box-shadow: 0px 0px 3px black inset;
  opacity: 0.9;
  background: none;
  width: 100%;
  margin: 0px;
}
.window-app.app.journal-sheet .window-content select[name="folder"] {
  background: none;
  border: 1px solid #5a5a5a;
  border-radius: 2px;
  padding: 5px 0px;
  margin: 0px;
  font-family: var(--actor-input-font-family);
  font-size: 14px;
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  width: 100%;
  height: fit-content;
  text-overflow: ellipsis;
  box-shadow: 0px 0px 2px #2700009e inset;
}
.window-app.app.journal-sheet .window-content form button[type="submit"] {
  flex: 2;
  flex-grow: 0;
  line-height: 24px;
  border: 3px double #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 0px;
  opacity: 1.0;
  text-align: center;
  color: #dadada;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 15px;
  padding-top: 5px;
  margin: 3px 0px 0px 1px !important;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  /* box-shadow: inset 0 0 20px #000000; */
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
}

.window-app.app.journal-sheet form.editable .editor {
  height: calc(100% - 126px);
  border: 1px solid #736953a6;
  padding: 4px;
}

.window-app.app.journal-sheet.image-popout .window-content .form-group.title {
  position: absolute;
  width: 100%;
  max-width: calc(100% - 12px);
  left: 6px;
  margin: 3px 0px 3px 0px;
}
.window-app.app.journal-sheet.image-popout .form-group.picker {
  bottom: 5px;
  position: absolute;
  width: 100%;
  max-width: calc(100% - 12px);
  left: 6px;
  margin: 3px 0px 3px 0px;
  min-height: 28px;
}
.window-app.app.journal-sheet.image-popout .window-content .form-group.picker .image {
  background: none;
  border: 1px solid #5a5a5a;
  border-radius: 2px;
  padding: 1px 0px 0px 5px;
  margin: 0px 5px 0px 0px;
  font-family: var(--actor-input-font-family);
  font-size: 14px;
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  line-height: normal;
  max-height: 30px;
  box-shadow: 0px 0px 2px #2700009e inset;
}
.window-app.journal-sheet.image-popout .form-group button {
  flex: 0 0 32px;
  order: 3;
  max-height: 30px;
  flex: 2;
  flex-grow: 0;
  line-height: 24px;
  border: 3px double #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 0px;
  opacity: 1.0;
  text-align: center;
  color: #dadada;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 15px;
  padding-top: 3px;
  margin: 0px 3px 2px 0px;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  /* box-shadow: inset 0 0 20px #000000; */
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
}
.window-app.journal-sheet.image-popout .form-group button i {
  display: block;
}
.window-app.journal-sheet.image-popout .window-content form button {
  margin: 0 3px 0px 3px !important;
  padding: 0px 16px;
  box-shadow: 0px 0px 5px black inset;
  color: var(--major-button-color);
}
.window-app.journal-sheet.image-popout .window-content form button[type="submit"] {
  margin: 0 3px 0px 3px !important;
  padding: 0px 16px;
  box-shadow: 0px 0px 5px black inset;
  color: var(--major-button-color);
}

/* ================== 12. COMPENDIUM ======================== */
.window-app.app .sidebar-tab.compendium {
  padding: 0px 0px 7px 0px;
}
.window-app.app .sidebar-tab.compendium .compendium-search {
  flex: 1;
  justify-content: left;
  text-align: center;
}
.window-app.app .sidebar-tab.compendium .compendium-search input {
  line-height: 20px;
  width: calc(100% - 45px);
  margin: 3px;
  background: url(../../img/ui/frames/parchment-texture.png);
  box-shadow: inset 0 0 10px #000000;
  border: 2px groove #564d3a;
  border-image: url(../../img/ui/chat-controls-border.png) 4 repeat;
  border-image-width: 4px;
  border-image-outset: 2px 2px 2px 2px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  text-align: left;
}
.window-app.app .sidebar-tab.compendium .compendium-search input::placeholder {
  text-align: center;
  color: #000000b8;
  position: relative;
  top: 2px;
}
.window-app.app .sidebar-tab.compendium .compendium-search .fas.fa-search {
  width: 30px;
  height: 30px;
  position: relative;
  top: -6px;
  left: 3px;
  background: url(../../img/ui/frames/search-field-icon.png);
  color: #ffffff00;
}
.window-app.app .sidebar-tab.compendium .pack-content {
  height: calc(100% - 43px);
  margin: 0;
  overflow-y: auto;
}

/* ================== 13. FILE PICKER ======================= */
.app.window-app.filepicker .form-group .back {
  border: 1px solid black;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: none;
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
}
.app.window-app.filepicker .form-group .back i {
  color: #dadadadb;
  transform: scaleX(-1);
}
.app.window-app.filepicker .form-group.current-dir input {
  border-left: 1px solid #736953a6;
}
.app.window-app.filepicker .file-directory {
  background: url(../../img/ui/frames/parchment-texture.png) repeat;
  border: 3px ridge #5d513e;
  border-radius: 0px;
  box-shadow: 0px 0px 33px black inset;
}
.app.window-app.filepicker .form-group label {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  padding: 4px 3px;
  border: 1px solid #5d513e;
  background: #080808;
}
.app.window-app.filepicker .form-group label i {
  display: none;
}

/* ================== 14. NEW MACRO WINDOW ================== */
.app.window-app.sheet.macro-sheet .window-content {
  padding: 3px 7px 0px 7px;
}
.app.window-app.sheet.macro-sheet .sheet-header img {
  border: 1px solid #736953a6;
}
.app.window-app.sheet.macro-sheet .sheet-header h1 input {
  border-left: 1px solid #736953a6;
  width: 100%;
}
.app.window-app.sheet.macro-sheet .editable .form-group.stacked {
  border-top: none;
  border-left: 1px solid #736953a6;
}

/* ================== 15. PLAYER CONFIGURATION ============== */
#player-config label {
  font-size: 14px;
  font-weight: normal;
  color: #d6d6d6;
}
#player-config .window-content .form-group:first-of-type label {
  vertical-align: middle;
  margin-right: 5px;
  padding-top: 26px;
}
#player-config .entity-name {
  font-family: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  text-align: left;
  padding: 0px 4px;
  border: 1px solid #5d513e;
  background: #1f1f1fb5;
}






/******************************************************************/
/******************************************************************/

