
/*************************************************************/
/*=============== X. NAVIGATION BAR =========================*/
/*************************************************************/
#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
  cursor: default;
  color: #FFF;
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: 0 0 3px #ff6400;
}

#navigation #nav-toggle {
  cursor: default;
  color: #FFF;
  background: url(../../img/ui/sidebar_button-background_cyan.png) repeat;
  background-origin: padding-box;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  padding-top: 3px;
  height: 36px;
}

#navigation #scene-list .scene.nav-item {
  cursor: default;
  color: #FFF;
  background: url(../../img/ui/sidebar_button-background_cyan.png) repeat;
  background-origin: padding-box;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  padding-top: 2px;
}
#navigation #scene-list .scene.nav-item.active {
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
}
#navigation #scene-list .scene li.scene-player {
  float: left;
  height: 15px;
  width: 15px;
  margin: 0 2px 0 0;
  line-height: 12px;
  padding-top: 1px;
  text-align: center;
  color: #000000e8;
  font-weight: 600;
  background: #97dff4;
  border: 1px solid #000;
  border-radius: 8px;
  font-family: "Signika", "Palatino Linotype", serif;
  font-size: 13px;
  box-shadow: inset 0 0 3px #000000;
}
/*************************************************************/
/*************************************************************/

