
/*************************************************************/
/*=============== XIII. ROLL DIALOG =========================*/
/*************************************************************/

.window-app.dialog.characteristic-roll-dialog,
.window-app.dialog.skill-roll-dialog,
.window-app.dialog.weapon-roll-dialog,
.window-app.dialog.spell-roll-dialog,
.window-app.dialog.channel-roll-dialog,
.window-app.dialog.prayer-roll-dialog  {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: none;
  padding: 0px !important;
  color: #111;
  width: 517px !important;
  height: auto !important;
  box-shadow: 3px 4px 10px #000;
}
.window-app.dialog.characteristic-roll-dialog .roll-dialog-tag,
.window-app.dialog.skill-roll-dialog .roll-dialog-tag,
.window-app.dialog.weapon-roll-dialog .roll-dialog-tag,
.window-app.dialog.spell-roll-dialog .roll-dialog-tag,
.window-app.dialog.channel-roll-dialog .roll-dialog-tag,
.window-app.dialog.prayer-roll-dialog .roll-dialog-tag {
  visibility: hidden;
  height: 0px;
}

.window-app.dialog.characteristic-roll-dialog .window-header,
.window-app.dialog.skill-roll-dialog .window-header,
.window-app.dialog.weapon-roll-dialog .window-header,
.window-app.dialog.spell-roll-dialog .window-header,
.window-app.dialog.channel-roll-dialog .window-header,
.window-app.dialog.prayer-roll-dialog .window-header {
  flex: 0 0 45px;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  border: none;
  background: url(../../img/ui/window-app-dialog-header.png) repeat;
}
.window-app.dialog.characteristic-roll-dialog .window-header .window-title,
.window-app.dialog.skill-roll-dialog .window-header .window-title,
.window-app.dialog.weapon-roll-dialog .window-header .window-title,
.window-app.dialog.spell-roll-dialog .window-header .window-title,
.window-app.dialog.channel-roll-dialog .window-header .window-title,
.window-app.dialog.prayer-roll-dialog .window-header .window-title {
  display: block;
  position: absolute;
  top: 60px;
  left: 26px;
  visibility: visible;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0px;
  opacity: 1;
  width: 465px;
  z-index: 4;
  height: 26px;
  margin: 0px;
  padding: 0px;
  color: #ecececde;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  border: 3px double #736953a6;
  background: #310a0ae8;
  box-shadow: inset 0px 0px 5px black;
}
.window-app.dialog.characteristic-roll-dialog .window-header .close,
.window-app.dialog.skill-roll-dialog .window-header .close,
.window-app.dialog.weapon-roll-dialog .window-header .close,
.window-app.dialog.spell-roll-dialog .window-header .close,
.window-app.dialog.channel-roll-dialog .window-header .close,
.window-app.dialog.prayer-roll-dialog .window-header .close {
  color: #00e5ff00;
  text-align: center;
  background: url(../../img/ui/buttons/button-close.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 5px;
}

.window-app.dialog.characteristic-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-characteristic.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.skill-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-skill.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.weapon-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-weapon.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.spell-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-spell.png);
  background-size: 102%;
  background-position: -5px -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.channel-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-channel.png);
  background-size: 102%;
  background-position: -5px -10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.prayer-roll-dialog .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-prayer.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 23px 8px 0px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}

.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content {
  min-height: fit-content;
  max-height: fit-content;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  background: none;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row {
  display: inline-flex;
  flex: 1;
  flex-direction: row;
  margin-top: 4px;
  width: 100%;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .bonus-column,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .bonus-column,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .bonus-column,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .bonus-column,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .bonus-column,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .bonus-column {
  margin-right: 2px;
  width: 30%;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .bonus-column label {
  min-width: 96px;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .bonus-column input {
  text-align: center;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .talent-selector,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .talent-selector,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .talent-selector,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .talent-selector,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .talent-selector,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .talent-selector {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 2px;
  width: 69%;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .talent-selector label {
  margin-top: 4px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  padding: 4px 3px;
  border: 1px solid #5d513e;
  border-bottom: none;
  background: #080808;
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select {
  margin-bottom: 4px;
  padding: 3px;
  flex-grow: 1;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #000000;
  border: 1px solid #736953a6;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: url(../../img/ui/frames/parchment-texture.png);
}
.window-app.dialog.characteristic-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option,
.window-app.dialog.skill-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option,
.window-app.dialog.weapon-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option,
.window-app.dialog.spell-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option,
.window-app.dialog.channel-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option,
.window-app.dialog.prayer-roll-dialog .window-content .dialog-content .dialog-row .talent-selector select option {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.window-app.dialog.characteristic-roll-dialog input[name="hitLocation"],
.window-app.dialog.skill-roll-dialog input[name="hitLocation"],
.window-app.dialog.weapon-roll-dialog input[name="hitLocation"],
.window-app.dialog.spell-roll-dialog input[name="hitLocation"],
.window-app.dialog.channel-roll-dialog input[name="hitLocation"],
.window-app.dialog.prayer-roll-dialog input[name="hitLocation"] {
  position: relative;
  top: 4px;
  left: 2px;
  transform: scale(1.0);
}
.window-app.dialog.characteristic-roll-dialog .dialog-buttons button,
.window-app.dialog.skill-roll-dialog .dialog-buttons button,
.window-app.dialog.weapon-roll-dialog .dialog-buttons button,
.window-app.dialog.spell-roll-dialog .dialog-buttons button,
.window-app.dialog.channel-roll-dialog .dialog-buttons button,
.window-app.dialog.prayer-roll-dialog .dialog-buttons button {
  flex-grow: 1;
  min-width: -webkit-fill-available;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 24px;
  border: 3px double #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 0px;
  opacity: 0.9;
  text-align: center !important;
  color: #ececec;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 15px;
  padding-top: 5px;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
}

/*************************************************************/
/*************************************************************/
