
/******************************************************************/
/*=============== III. SIDEBAR ===================================*/
/******************************************************************/

/* ==================== (A) WINDOW FRAMEWORK ================== */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 456px;
    margin: 0px;
    padding: 0px;
    background: url(../../img/ui/sidebar.png) repeat;
    background-position-y: 45px;
    border-radius: 0px;
    box-shadow: 0 0 0px #000;
    border:none;
}
#sidebar .sidebar-tab {
    flex: 1;
    height: calc(100vh - 54px);
    margin: 0px 0px 0px 80px;
    padding: 0px 0px 0px 0px;
}

#sidebar.collapsed {
    width: 50px !important;
    height: 364px !important;
    position: absolute;
    top: 15px;
    right: -1px;
    padding: 19px 0px 0px 2px;
    margin: 3px 0px 0px 0px;
    border: 1px solid black;
    border-image: url(../../img/ui/frames/sidebar-collapsed.png);
    border-image-slice: 9 fill;
    border-image-width: 9px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: -2px 0px 8px #000;
}
#sidebar.collapsed #sidebar-tabs {
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: relative;
    top: 126px;
    left: -81px;
    width: 35px;
    height: 54px;
    margin: 0px;
    padding: 0px 0px 0px 90px;
    border: none;
    box-shadow: none;
    background: none;
}

.sidebar-popout .directory-header,
.sidebar-tab .directory-header {
    height: 38px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #444;
}
.sidebar-popout .directory-header .header-search,
.sidebar-tab .directory-header .header-search {
    flex: 1;
    justify-content: left;
    text-align: center;
}
.sidebar-popout .directory-header .header-search input,
.sidebar-tab .directory-header .header-search input {
    line-height: 20px;
    width: calc(100% - 45px);
    margin: 3px;
    background: url(../../img/ui/frames/parchment-texture.png);
    box-shadow: inset 0 0 10px #000000;
    border: 2px groove #564d3a;
    border-image: url(../../img/ui/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 2px 2px 2px 2px;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-family);
    font-weight: var(--actor-input-font-weight);
    color: var(--actor-input-color);
    text-align: left;
}
.sidebar-popout .directory-header .header-search input::placeholder,
.sidebar-tab .directory-header .header-search input::placeholder {
    text-align: center;
    color: #000000b8;
    position: relative;
    top: 2px;
}
.sidebar-popout .directory-header .header-search .fas.fa-search,
.sidebar-tab .directory-header .header-search .fas.fa-search {
    width: 30px;
    height: 30px;
    position: relative;
    top: -6px;
    left: 3px;
    background: url(../../img/ui/frames/search-field-icon.png);
    color: #ffffff00;
}
.sidebar-popout .directory-header .header-control,
.sidebar-tab .directory-header .header-control {
    display: block;
    flex: 0 0 24px;
    height: 32px;
    position: relative;
    top: -1px;
    left: -6px;
}
.sidebar-popout .directory-header .fas.fa-sort-amount-up,
.sidebar-tab .directory-header .fas.fa-sort-amount-up {
    width: 30px;
    height: 30px;
    position: relative;
    top: 2px;
    left: 3px;
    background: url(../../img/ui/buttons/sidebar-search-buttons-collapse-all.png);
    color: #ffffff00;
    font-size: 23px;
    padding-top: 6px;
}

.sidebar-popout.sidebar-directory .directory-list,
.sidebar-tab.sidebar-directory .directory-list {
    height: calc(100% - 38px - 50px);
    margin: 0px 0px 0px 0px;
}
.sidebar-popout.sidebar-directory .directory-list header,
.sidebar-tab.sidebar-directory .directory-list header {
    /* padding: 9px 3px 4px 3px; */
    /* border: 3px groove #564d3a; */
    /* box-shadow: 0 0 6px #000 inset; */
    /* line-height: normal; */
    /* background: #290a0ad9; */
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
.sidebar-popout.sidebar-directory .directory-list li,
.sidebar-tab.sidebar-directory .directory-list li {
    border-bottom: 2px groove #333;
    margin-right: 1px;
}
.sidebar-popout.sidebar-directory .directory-list .subdirectory li,
.sidebar-tab.sidebar-directory .directory-list .subdirectory li {
    border-bottom: 2px groove #333;
    margin-right: 0px;
}
.sidebar-popout.sidebar-directory .directory-list .subdirectory .directory-item,
.sidebar-tab.sidebar-directory .directory-list .subdirectory .directory-item  {
    margin-left: 10px;
    /* background: grey; */
}

.sidebar-popout {
    width: 330px !important;
}
.sidebar-tab .directory-footer,
#sidebar .directory-footer {
    margin: 7px 0px 0px 0px;
    border-top: none;
    min-height: 50px;
    max-height: 50px;
}
.sidebar-tab .directory-footer button,
#macros .directory-footer button,
#macros .directory-footer button,
#sidebar .directory-footer button {
    margin: 0 2%;
    padding: 2px 0px 0px 0px;
    height: 34px;
    border: 1px solid black;
    border-image: url(../../img/ui/footer-button.png) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
    box-shadow: 4px 4px 1px #00000085;
    background: url(../../img/ui/sidebar_button-background_red.png) repeat;
    background-origin: padding-box;
    color: #dadada;
    font-family: CaslonAntique;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 0px 1px #00000063;
}
#sidebar .directory-footer i {
    display: none;
}

.sidebar-tab .directory-list .directory-item.context, .sidebar-tab .directory-list .directory-item.active {
    margin-top: 0px;
    padding: 3px 3px !important;
    border-top: 1px solid red !important;
    border-bottom: 1px solid #ff6400 !important;
    box-shadow: 0 0 3px #ff6400 !important;
    background: #270601b0 !important;
}

/* ==================== (B) SIDEBAR HEADER ==================== */
#sidebar-tabs {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    position: relative;
    top: 0px;
    left: 0px;
    width: 456px;
    height: 54px;
    margin: 0px;
    padding: 0px 0px 0px 82px;
    border: none;
    box-shadow: none;
    background: url(../../img/ui/sidebar-border.png) repeat;
}

#sidebar-tabs > .item {
    display: inline-block;
    flex: none;
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    color: #ff000000;
    border: none;
    border-radius: 0px;
    position: relative;
    top: 8px;
}
#sidebar-tabs > .collapse {
    display: inline-block;
    flex: none;
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    color: #ff000000;
    border: none;
    border-radius: 0px;
    position: relative;
    top: 8px;
    position: relative;
    top: 8px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-settings-active.png);
    background: url(../../img/ui/sidebar-button-collapse.png);
}
#sidebar.collapsed .collapse {
    background: url(../../img/ui/sidebar-button-collapse-active.png);
}
#sidebar-tabs .item > i {
    height: inherit;
    width: inherit;
}
#sidebar-tabs > .item.active {
    display: inline-block;
    flex: none;
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
    color: #ff000000;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    top: 0px;
    visibility: hidden;
}

#sidebar-tabs > .item.active .fas.fa-comments {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-chat-active.png);
}
#sidebar-tabs > .item.active .fas.fa-fist-raised {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-combat-active.png);
}
#sidebar-tabs > .item.active .fas.fa-map {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-scenes-active.png);
}
#sidebar-tabs > .item.active .fas.fa-users {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-actors-active.png);
}
#sidebar-tabs > .item.active .fas.fa-suitcase {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-items-active.png);
}
#sidebar-tabs > .item.active .fas.fa-book-open {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-journal-active.png)
}
#sidebar-tabs > .item.active .fas.fa-th-list {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-tables-active.png);
}
#sidebar-tabs > .item.active .fas.fa-music {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-playlists-active.png);
}
#sidebar-tabs > .item.active .fas.fa-atlas {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-compendium-active.png);
}
#sidebar-tabs > .item.active .fas.fa-cogs {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: none;
    text-shadow: 0 0 10px #ff000000;
    visibility: visible;
    background: url(../../img/ui/sidebar-button-settings-active.png);
}

#sidebar-tabs > [data-tab~="chat"] {
    background: url(../../img/ui/sidebar-button-chat.png);
}
#sidebar-tabs > [data-tab~="combat"] {
    background: url(../../img/ui/sidebar-button-combat.png);
}
#sidebar-tabs > [data-tab~="scenes"] {
    background: url(../../img/ui/sidebar-button-scenes.png);
}
#sidebar-tabs > [data-tab~="actors"] {
    background: url(../../img/ui/sidebar-button-actors.png);
}
#sidebar-tabs > [data-tab~="items"] {
    background: url(../../img/ui/sidebar-button-items.png);
}
#sidebar-tabs > [data-tab~="journal"] {
    background: url(../../img/ui/sidebar-button-journal.png);
}
#sidebar-tabs > [data-tab~="tables"] {
    background: url(../../img/ui/sidebar-button-tables.png);
}
#sidebar-tabs > [data-tab~="playlists"] {
    background: url(../../img/ui/sidebar-button-playlists.png);
}
#sidebar-tabs > [data-tab~="compendium"] {
    background: url(../../img/ui/sidebar-button-compendium.png);
}
#sidebar-tabs > [data-tab~="settings"] {
    background: url(../../img/ui/sidebar-button-settings.png);
}

/* ==================== (C) SIDEBAR (CHAT) ==================== */
/* ================== 1. CHAT LOG =========================== */
#sidebar .sidebar-tab #chat-log {
    flex: none;
    height: calc(100% - 199px);
    width: 100%;
    margin: 0px 0px 0px -5px;
    padding: 0px 0px 0px 0px;
    overflow-y: auto;
    list-style: none;
    /* background: pink; */
}

#chat-log .message {
    padding: 4px 1px 4px 1px;
    margin: 25px 16px 25px 21px;
    border-image: url(../../img/ui/frames/chat-message-border.png) 21 repeat;
    border-image-width: 10px;
    border-image-outset: 8px;
    border-radius: 0px;
    background: url(../../img/ui/frames/parchment-texture.png) repeat;
    box-shadow: none;
    color: #000000;
    font-family: CaslonPro;
    font-size: 14px;
    font-weight: 500;
    /* min-height: 80px; */
    vertical-align: middle;
}
#chat-log .message .message-header {
    margin: 0px;
    padding: 8px 4px 0px 4px;
    line-height: normal;
    box-shadow: 0px 0px 1px black inset;
    vertical-align: middle;
    font-family: CaslonPro;
    font-size: 14px;
    font-weight: 500;
    color: red;
    min-height: 35px;
    border: 3px double #3e000078;
    background: #0000000d;
}
#chat-log .message .message-header .message-sender {
    flex: 3;
    margin: 0;
    color: #790000;
    text-shadow: 0px 0px 1px #00000087;
}
#chat-log .message .message-header .message-metadata {
    text-align: right;
    vertical-align: middle;
    font-family: CaslonPro;
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    text-shadow: 0px 0px 1px #00000087;
}
#chat-log .message .message-header .message-metadata .message-delete {
    position: relative;
    top: 0px;
    right: 0px;
    font-size: 13px;
    color: #1f1f1dc4;
    text-shadow: none;
}
#chat-log .message .message-content {
    margin: 0px 0px;
    padding: 4px 4px 0px 4px;
    border-top: none;
    /* background: #0000000d; */
}

/* ================== 2. CHAT CONTROLS ====================== */
#sidebar .sidebar-tab #chat-controls {
    position: absolute;
    bottom: 154px;
    right: 0px;
    min-height: 45px;
    max-height: 45px;
    min-width: 376px;
    max-width: 376px;
    margin: 0px;
    padding: 0px;
    background: none;
}

#sidebar .sidebar-tab #chat-controls label {
    color: #f0f8ff00;
}
#sidebar .sidebar-tab #chat-controls i {
    width: 30px;
    height: 30px;
    position: relative;
    top: 7px;
    background: url(../../img/ui/buttons/chat-button-d20.png);
}

#sidebar .sidebar-tab #chat-controls div.roll-type-select select {
    font-family: CaslonPro;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    position: relative;
    height: 24px;
    top: 7px;
    padding-top: 3px;
    background: url(../../img/ui/frames/parchment-texture.png) repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: initial;
    box-shadow: inset 0 0 10px #000000;
    border-image: url(../../img/ui/chat-controls-border.png) 4 repeat;
    border-image-width: 4px;
    border-image-outset: 3px 2px 2px 2px;
    color: #520000;
}
#sidebar .sidebar-tab #chat-controls div.roll-type-select i.fas {
    margin-right: 5px;
}

#sidebar .sidebar-tab #chat-controls .control-buttons a {
    color: #f0f8ff00;
}
#sidebar .sidebar-tab #chat-controls .control-buttons .export-log i {
    background: url(../../img/ui/buttons/chat-button-export.png);
    position: relative;
    right: 20px;
}
#sidebar .sidebar-tab #chat-controls .control-buttons .delete i {
    background: url(../../img/ui/buttons/chat-button-clear.png);
    position: relative;
    right: 10px;
}

/* ================== 3. CHAT FORM ========================== */
#sidebar .sidebar-tab #chat-form {
    min-height: 154px;
    max-height: 154px;
    min-width: 376px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    margin: 0px;
    background: url(../../img/ui/frames/parchment-texture.png) repeat;
    border: 1px solid black;
    border-image: url(../../img/ui/chat-form-border.png) 10 repeat;
    border-image-width: 10px;
    border-image-outset: 0px 0px;
    box-shadow: inset 0 0 40px #000000;
}
#sidebar #chat-form textarea {
    height: auto;
    width: 100%;
    margin: 11px 11px 11px 11px;
    padding: 5px;
    resize: none;
    border: none;
    border-radius: 0px;
    background: none;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: var(--actor-input-color);
    line-height: normal;
    border: 3px double #3e000078;
}
#sidebar #chat-form textarea:focus {
    outline: none;
    box-shadow: none;
}

/* ==================== (D) SIDEBAR (COMBAT TRACKER) ========== */
#combat-popout #combat-round , #sidebar #combat #combat-round {
    flex: 0 0 64px;
    min-height: 73px;
    max-height: 73px;
    line-height: 32px;
    text-align: center;
    border-bottom: 2px groove #444;
    font-family: CaslonAntique;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 0px 1px #00000063;
}
#combat-popout #combat-round .encounters h4 , #sidebar #combat #combat-round .encounters h4 {
    flex: 1;
    margin: 0;
    padding: 0px;
    position: relative;
    top: 2px;
    color: #AAA;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
    font-family: var(--actor-input-font-family);
    font-size: 17px;
    font-weight: var(--actor-input-font-weight);
}
#combat-popout #combat-round .encounters h3 , #sidebar #combat #combat-round .encounters h3 {
    flex: 1;
    margin: 0px 30px;
    padding: 0px;
    height: 34px;
    font-size: 23px;
    text-align: center;
    line-height: normal;
    color: #d6d6d6;
    border: 3px double #5d513e;
    background: #080808;
    box-shadow: 0px 0px 10px inset black;
    border-radius: 0px;
    opacity: 1;
    text-shadow: 1px 1px 5px #000000;
}
#combat-popout #combat-round .encounters h3 {
    font-size: 19px;
}
#combat-popout #combat-round .combat-cycle , #sidebar #combat #combat-round .combat-cycle {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 0px;
    background: url(../../img/ui/buttons/combat-button-previous-encounter.png);
}
#combat-popout #combat-round a[title="Activate Next Encounter"] , #sidebar #combat #combat-round a[title="Activate Next Encounter"] {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 0px;
    background: url(../../img/ui/buttons/combat-button-next-encounter.png);
}
#combat-popout #combat-round .combat-control , #sidebar #combat #combat-round .combat-control {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 0px;
    background: url(../../img/ui/buttons/combat-button-reset-initiative.png);
}
#combat-popout #combat-round .combat-settings , #sidebar #combat #combat-round .combat-settings {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 0px;
    background: url(../../img/ui/buttons/combat-button-tracker-settings.png);
}
#combat-popout #combat-round a[title="Create Encounter"] , #sidebar #combat #combat-round a[title="Create Encounter"] {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 2px;
    background: url(../../img/ui/buttons/combat-button-create-encounter.png);
}
#combat-popout #combat-round a[title="Roll NPCs"] , #sidebar #combat #combat-round a[title="Roll NPCs"] {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 2px;
    background: url(../../img/ui/buttons/combat-button-roll-npcs.png);
}
#combat-popout #combat-round a[title="Roll All"] , #sidebar #combat #combat-round a[title="Roll All"] {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 2px;
    background: url(../../img/ui/buttons/combat-button-roll-all.png);
}
#combat-popout #combat-round a[title="Delete Encounter"] , #sidebar #combat #combat-round a[title="Delete Encounter"] {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    color: #00ffff00;
    text-shadow: none;
    position: relative;
    top: 2px;
    background: url(../../img/ui/buttons/combat-button-delete-encounter.png);
}

#combat-popout #combat-tracker , #sidebar #combat #combat-tracker {
    height: calc(100% - 73px - 50px);
    padding: 1px 0;
    color: #feffefd6;
}
#combat-popout .directory-list .directory-item , #sidebar #combat .directory-list .directory-item {
    padding: 1px 3px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: 48px;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
}
#combat-popout li.combatant .roll , #sidebar #combat li.combatant .roll {
    display: block;
    width: 40px;
    height: 48px;
    background: url(../../img/ui/buttons/d10.png) no-repeat 50% 50%;
    background-size: 32px;
    margin: 0 0.5em;
    opacity: 1.0;
}
#combat-popout li.combatant .roll:hover , #sidebar #combat li.combatant .roll:hover {
    background-image: url(../../img/ui/buttons/d10-highlight.png);
}
#combat-popout li.combatant .token-initiative , #sidebar #combat li.combatant .token-initiative {
    flex: 0 0 48px;
    min-width: 48px;
    text-align: center;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #feffefd6;
}
#combat li.combatant.active .initiative {
    font-weight: normal;
}

#combat-popout #combat-controls , #sidebar #combat #combat-controls {
    margin: 7px 0px 0px 0px;
    border-top: none;
    min-height: 50px;
    max-height: 50px;
}
#combat-popout #combat-controls a , #sidebar #combat #combat-controls a {
    margin: 0 2%;
    padding: 2px 0px 0px 0px;
    height: 34px;
    border: 1px solid black;
    border-image: url(../../img/ui/footer-button.png) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
    box-shadow: 4px 4px 1px #00000085;
    background: url(../../img/ui/sidebar_button-background_red.png) repeat;
    background-origin: padding-box;
    color: #dadada;
    font-family: CaslonAntique;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 0px 1px #00000063;
}
#combat-popout #combat-controls a:hover , #sidebar #combat #combat-controls a:hover {
    box-shadow: 0 0 5px #ff9f00 !important;
}
#combat-popout #combat-controls .combat-control i , #sidebar #combat #combat-controls .combat-control i {
    display: contents;
    color: #d0d0d0;
}
#combat-popout #combat-controls a[title="End Combat"] , #sidebar #combat #combat-controls a[title="End Combat"] {
    padding: 0px 0px 0px 0px;
}
#combat-popout #combat-controls a[title="Begin Combat"] , #sidebar #combat #combat-controls a[title="Begin Combat"] {
    padding: 0px 0px 0px 0px;
}

/* ==================== (E) SIDEBAR (SCENES) ================== */
#sidebar #scenes .directory-list .directory-item {
    border: 3px groove #564d3a;
}
#scenes-popout .directory-list .directory-item .entity-name a,
#sidebar #scenes .directory-list .directory-item .entity-name a {
    background: #000000d4;
    border-radius: 2px;
    border: 3px double #564d3a;
    padding: 10px;
    box-shadow: 0 0 5px #000000 inset;
    font-family: var(--actor-input-font-family);
    font-size: 18px;
    font-weight: var(--actor-input-font-weight);
    position: relative;
    top: -2px;
}

/* ==================== (F) SIDEBAR (ACTORS) ================== */
#sidebar #actors .directory-list .directory-item {
    padding: 1px 3px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
#sidebar #actors .directory-list .directory-item h4 {
    top: 17px;
    position: relative;
}

/* ==================== (G) SIDEBAR (ITEMS) =================== */
#sidebar #items .directory-list .directory-item {
    padding: 1px 3px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
#sidebar #items .directory-list .directory-item h4 {
    top: 17px;
    position: relative;
}

/* ==================== (H) SIDEBAR (JOURNAL) ================= */
#sidebar #journal .directory-list .directory-item {
    padding: 3px 3px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
/* ==================== (I) SIDEBAR (PLAYLISTS) =============== */
#playlists-popout .directory-list,
#sidebar #playlists .directory-list {
    flex: 1;
    height: calc(100% - 50px);
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
#playlists-popout .directory-list li.playlist:first-of-type .playlist-header,
#sidebar #playlists .directory-list li.playlist:first-of-type .playlist-header {
    flex: 0 0 100%;
    justify-content: space-between;
    text-decoration: none;
}
#playlists-popout .directory-list .directory-item:first-of-type .playlist-header h4,
#sidebar #playlists .directory-list .directory-item:first-of-type .playlist-header h4 {
    flex: 1;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: normal;
    font-family: var(--window-header-title-font-family);
    font-size: var(--window-header-title-font-size);
    font-weight: var(--window-header-title-font-weight);
    color: #d6d6d6;
    border: 3px double #5d513e;
    background: #080808;
    box-shadow: 0px 0px 10px inset black;
    border-radius: 0px;
    opacity: 1;
    text-shadow: 1px 1px 5px #000000;
}
#playlists-popout li.playlist:first-of-type .playlist-sounds,
#sidebar #playlists li.playlist:first-of-type .playlist-sounds {
    flex: 0 0 100%;
    list-style: none;
    margin: 3px 0px;
    padding: 3px 5px;
    background: #000000b5;
    box-shadow: 0px 0px 10px inset black;
    border: 2px ridge #5d513e;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #d6d6d6;
}
#sidebar #playlists li.playlist:first-of-type li.sound {
    margin: 5px 0;
    padding: 0;
}
#sidebar #playlists .global-volume {
    flex: 0 0 152px;
    position: relative;
    top: -2px;
}
#playlists-popout .global-volume::-webkit-slider-thumb,
#sidebar #playlists .global-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #7d5900;
    height: 11px;
    width: 11px;
    border-radius: 5px;
    background: #212121;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
#playlists-popout .global-volume::-webkit-slider-runnable-track,
#sidebar #playlists .global-volume::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, #820f0f , #82820d);
}

#playlists-popout li.playlist:not(:first-of-type) .playlist-header,
#sidebar #playlists li.playlist:not(:first-of-type) .playlist-header {
    flex: 0 0 100%;
    justify-content: space-between;
    text-decoration: none;
    margin: 3px 0px;
    padding: 4px 5px 4px 5px;
    border: 3px double #564d3a;
    background: #290a0ad9;
}
#playlists-popout .directory-list .directory-item .playlist-header h4,
#sidebar #playlists .directory-list .directory-item .playlist-header h4 {
    flex: 1;
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: normal;
    font-family: var(--actor-input-font-family);
    font-size: var(---actor-input-font-size);
    font-weight: var(---actor-input-font-weight);
    color: #d6d6d6;
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    opacity: 1;
    text-shadow: 1px 1px 5px #000000;
}
#playlists-popout li.playlist:not(:first-of-type) .playlist-header i,
#sidebar #playlists li.playlist:not(:first-of-type) .playlist-header i {
    position: relative;
    top: 2px;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound {
    margin: 0px;
    padding: 4px 7px 4px 7px;
    border: 1px solid #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #272727c7;
    font-family: var(--actor-input-font-family);
    font-size: var(--actor-input-font-size);
    font-weight: var(--actor-input-font-weight);
    color: #d6d6d6;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound i,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound i {
    position: relative;
    top: 2px;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-name,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-name {
    margin: 0px 15px 0px 0px;
    max-width: none;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-volume,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-volume {
    position: relative;
    top: -1px;
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #7d5900;
    height: 11px;
    width: 11px;
    border-radius: 5px;
    background: #212121;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
#playlists-popout li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-runnable-track,
#sidebar #playlists li.playlist:not(:first-of-type) li.sound .sound-volume::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, #230da5 , #076d1c);
}


/* ==================== (J) SIDEBAR (COMPENDIUM) ============== */
#compendium-popout .directory-list,
#sidebar #compendium .directory-list {
    flex: 1;
    height: calc(100% - 50px);
    list-style: none;
    margin: 0px 5px 0px 0px;
    padding: 0;
    overflow-y: auto;
}
#compendium-popout .directory-list .compendium-entity h3,
#sidebar #compendium .directory-list .compendium-entity h3 {
    padding: 9px 6px 4px 6px;
    margin: 0px 5px;
    border: 3px double #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #290a0ad9;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
#compendium-popout .directory-list .compendium-list .compendium-pack,
#sidebar #compendium .directory-list .compendium-list .compendium-pack {
    padding: 9px 6px 4px 6px;
    border: 3px groove #564d3a;
    box-shadow: 0 0 6px #000 inset;
    line-height: normal;
    background: #000000b5;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    text-shadow: 1px 1px 2px black;
}
#compendium-popout .directory-list .compendium-list .compendium-pack a,
#sidebar #compendium .directory-list .compendium-list .compendium-pack a {
    position: relative;
    top: 0px;
}
#compendium-popout .directory-list .compendium-list .compendium-pack .pack-title,
#sidebar #compendium .directory-list .compendium-list .compendium-pack .pack-title {
    margin: 0px;
}
#compendium-popout .directory-list .compendium-list .compendium-pack .pack-title,
#sidebar #compendium .directory-list .compendium-list .compendium-pack .compendium-footer {
    /* display: none; */
    color: #978461;
    margin-left: 25px;
}
#compendium-popout .directory-list .compendium-list .compendium-pack .compendium-search input,
#sidebar #compendium .directory-list .compendium-list .compendium-pack .compendium-search input {
    color: white
}

/* ==================== (K) SIDEBAR (SETTINGS) ================ */
#sidebar #settings h2 {
    flex: 1;
    margin: 0px 5px;
    padding: 0px;
    text-align: center;
    line-height: normal;
    font-family: var(--window-header-title-font-family);
    font-size: var(--window-header-title-font-size);
    font-weight: var(--window-header-title-font-weight);
    color: #d6d6d6;
    border: 3px double #5d513e;
    background: #080808;
    box-shadow: 0px 0px 10px inset black;
    border-radius: 0px;
    opacity: 1;
    text-shadow: 1px 1px 5px #000000;
}
#sidebar #settings h2:not(:first-of-type) {
    margin-top: 30px;
}
#sidebar #settings h4 {
    flex: 1;
    margin: 0px 5px;
    padding: 5px 0px;
    text-align: center;
    font-family: var(--actor-input-font-family);
    font-size: 16px;
    font-weight: var(--actor-input-font-weight);
    color: #dadada;
    background: #290a0ad9;
    border: 1px solid #5d513e;
    border-top: none;
    box-shadow: 0px 0px 20px inset black;
}
#sidebar #settings button {
    margin: 4px 12px;
    padding: 3px 0px;
    width: -webkit-fill-available;
    border: 1px solid black;
    border-image: url(../../img/ui/footer-button.png) 10 repeat;
    border-image-width: 4px;
    border-image-outset: 0px;
    box-shadow: 4px 4px 1px #00000085;
    background: url(../../img/ui/sidebar_button-background_red.png) repeat;
    background-origin: padding-box;
    font-family: var(--major-button-font-family);
    font-size: var(--major-button-font-size);
    font-weight: var(--major-button-font-weight);
    color: var(--major-button-color);
    line-height: normal;
    text-shadow: 0px 0px 1px #00000063;
}
#sidebar #settings button i {
    display: none;
}

/******************************************************************/
/******************************************************************/