/******************************************************************/
/*=============== TABLE OF CONTENTS ==============================*/
/******************************************************************/
/*   I. LOCAL FONTS                                               */
/*   II. GENERAL USER INTERFACE                                   */
/*   III. SIDEBAR                                                 */
/*   IV. ITEM SHEET                                               */
/*   V. ACTOR SHEET (CHARACTER)                                   */
/*   VI. ACTOR SHEET (NPC)                                        */
/*   VII. ACTOR SHEET (CREATURE)                                  */
/*   VIII. ACTOR SHEET (TOKEN)                                    */
/*   IX. PLAYERS LIST                                             */
/*   X. NAVIGATION BAR                                            */
/*   XI. SCENE CONTROLS                                           */
/*   XII. GAME SETTINGS                                           */
/*   XIII. ROLL DIALOG                                            */
/*   XIV. HOTBAR                                                  */
/*   XV. MISCELLANEOUS GAME WINDOWS                               */
/******************************************************************/

#chat-log .message.ic .message-content {
  font-style : normal;
}

.scatter-table{
  border: 1px solid #000;
  width: 150px;
}

.scatter-table tr > td{
  border: 1px solid #000;
  text-align: center;
  width: 60px;
  height: 30px;
}

.scatter-table .selected-position {
  background-color: maroon;
  color: #CCC
}




/* ==================== (A) CAST OR channel ================== */
.window-app.dialog.cast-channel  {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: none;
  padding: 0px !important;
  color: #111;
  width: 517px !important;
  height: 157px !important;
  box-shadow: 3px 4px 10px #000;
}
.window-app.dialog.cast-channel .window-header {
  flex: 0 0 45px;
  padding: 0px;
  margin: 0px;
  line-height: 30px;
  border: none;
  background: url(../../img/ui/window-app-dialog-header.png) repeat;
}
.window-app.dialog.cast-channel .window-header .window-title {
  position: absolute;
  top: 60px;
  left: 26px;
  visibility: visible;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0px;
  opacity: 1;
  width: 465px;
  z-index: 4;
  height: 26px;
  margin: 0px;
  padding: 0px;
  color: #f5f5f500;
  text-shadow: 1px 1px 5px #000000;
  text-align: center;
  border: 3px double #736953a6;
  background: #310a0ae8;
  display: none;
  box-shadow: inset 0px 0px 5px black;
}
.window-app.dialog.cast-channel .window-header .close {
  color: #00e5ff00;
  text-align: center;
  background: url(../../img/ui/buttons/button-close.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 5px;
  overflow: hidden;
}

.window-app.dialog.cast-channel .window-content {
  background: url(../../img/ui/window-app-dialog-backgrounds-characteristic.png);
  background-position: -43px -120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  padding: 0px 8px 8px 8px;
  margin: 8px;
  /* margin-bottom: 2px; */
  box-shadow: none;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 14px;
  color: #ececec;
  border: 1px solid blue;
  border-width: 10px;
  border-image: url(../../img/ui/window-app-dialog-content.png) 5 repeat;
  border-image-slice: 10 13 13 13;
  border-image-width: 10px 13px 13px 13px;
  border-image-outset: 8px;
}
.window-app.dialog.cast-channel .window-content .dialog-content {
  flex: 2;
  line-height: normal;
  /* min-height: 28px;
  max-height: 28px; */
  border: none;
  border-radius: 0px;
  opacity: 0.9;
  text-align: center;
  color: #ececec;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
  box-shadow: 0px 0px 10px inset black;
  /* background: #000000e8; */
}
.window-app.dialog.cast-channel .selection {
  flex: 2;
  line-height: normal;
  border: 1px solid #736953a6;
  border-radius: 0px;
  opacity: 0.9;
  text-align: center;
  color: #ececec;
  padding: 4px 0px 4px 0px;
  margin: 0px 0px;
  box-shadow: 0px 0px 10px inset black;
}
.window-app.dialog.cast-channel .dialog-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4px 0px 0px 0px;
}
.window-app.dialog.cast-channel .dialog-buttons button {
  flex: 2;
  line-height: 24px;
  border: 3px double #736953a6;
  box-shadow: 0px 0px 10px inset black;
  border-radius: 0px;
  opacity: 0.9;
  text-align: center;
  max-width: 49%;
  color: #ececec;
  font-family: CaslonPro;
  font-weight: 500;
  font-size: 15px;
  padding-top: 5px;
  margin: 0px;
  border-image: url(../../img/ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  background: url(../../img/ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
}

.window-content .notes {
  color: #BBB;
}

.pack-content .entry-name {
  color: white;
}

.window-content .dialog-content > * {
  color: white;
}

#chat-log .message .message-header img{
  width: 50px;
  height: 50px;
  border: none;
  margin: -5px 5px 2px 0px;
}

h4.message-sender.sender-image {
  position: relative;
  top: 13px;
}

#chat-log .message .fumble-roll {
  color: darkred
}
#chat-log .message .critical-roll {
  color:green
}








/* ==================== (G) ALTERNATIVE CREATURE SHEET SKILLS TAB ======================== */
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active {
  display: flex;
  flex-direction: column;
  height: 358px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background: blue; */
}

/* ================== 1. SKILLS LIST ======================== */
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section {
  display:flex;
  flex-direction: row;
  margin: 6px 0px 0px 0px;
  /* background: red; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type {
  display:flex;
  flex-direction: column;
  /* background: red; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section #basic-skills-list {
  margin-right: 3px;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section #advanced-skills-list {
  margin-left: 3px;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type > h3 {
  border: 1px solid #736953a6;
  border-bottom: none;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  width: 100%;
  font-family: var(--actor-label-font-family);
  font-size: var(--actor-label-font-size);
  font-weight: var(--actor-label-font-weight);
  color: var(--actor-label-color);
  text-align: center;
  box-shadow: 0 0 10px #00000052 inset;
  margin: 0px;
  padding: 2px 0px 0px 0px;
  background: none;
}

.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header {
  width: 100%;
  height: 20px;
  margin: 0px;
  padding: 0px 6px;
  border: 1px solid #736953a6;
  font-family: var(--actor-label-font-family);
  font-size: var(--actor-label-font-size);
  font-weight: var(--actor-label-font-weight);
  color: var(--actor-label-color);
  background: none;
  box-shadow: 0 0 10px #6b3a0f87 inset;
  text-align: left;
  display: inline-block;
  flex-grow: 0;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header .name {
  position: relative;
  left: 0px;
  height: 18px;
  width: fit-content;
  display: inline-block;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header .char {
  position: relative;
  left: 74px;
  height: 18px;
  width: fit-content;
  display: inline-block;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header .adv {
  position: relative;
  left: 89px;
  height: 18px;
  width: fit-content;
  display: inline-block;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header .total {
  position: relative;
  left: 90px;
  height: 18px;
  width: fit-content;
  display: inline-block;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-header .item-controls {
  position: relative;
  top: -1px;
  left: 104px;
  height: fit-content;
  width: fit-content;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  color: var(--actor-label-color);
  margin: 0px;
  padding: 0px;
}

.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .skill-type .inventory-list {
  margin: 0px;
  padding: 0px;
  width: 250px;
  height: 278px;
  box-shadow: 0px 0px 1px inset black;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #736953a6;
  border-top: none;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section  .inventory-list .item {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px 0px;
  padding: 2px 2px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 1px inset black;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  justify-content: space-between;
  /* background: var(--debug-background-color-green); */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .skill-name {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  max-width: 100px;
  margin: 1px 0px 0px 0px;
  /* background: blue; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .skill-name .name {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  text-align: left;
  /* background: red; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .skill-name .advancement-indicator {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  /* background: green; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .row-label {
  min-width: 26px;
  max-width: 26px;
  margin: 1px 0px 0px 0px;
  padding: 0px;
  text-align: center;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  background: none;
  border: none;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .row-value {
  min-width: 30px;
  max-width: 30px;
  margin: 1px 0px 0px 0px;
  padding: 0px;
  text-align: center;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  background: none;
  border: none;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .input-field.skill-advances {
  min-width: 30px;
  max-width: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .input-field.skill-advances input {
  width: 100%;
  height: 17px;
  margin: 0px;
  padding: 2px 0px 0px 0px;
  text-align: center;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .skill-total {
  min-width: 30px;
  max-width: 30px;
  margin: 1px 0px 0px 0px;
  padding: 0px;
  text-align: center;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
  color: #672323;
  text-shadow: 1px 0px 1px #6e6e716e;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .skill-section .inventory-list .item .item-controls {
  padding: 2px 2px 0px 0px;
  margin: 0px;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  color: #504f48a6;
  text-align: center;
  min-width: 20px;
  max-width: 20px;
  flex-grow: 0;
}

/* ================== 2. PENALTIES ========================== */
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  border: 1px solid #736953a6;
  margin: 6px 0px 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  /* background: green; */
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties > h3 {
  font-family: var(--actor-label-font-family);
  font-size: var(--actor-label-font-size);
  font-weight: var(--actor-label-font-weight);
  color: var(--actor-label-color);
  text-align: center;
  border: 1px solid #736953a6;
  border-top: none;
  border-left: none;
  border-bottom: none;
  margin: 0px;
  padding: 3px 0px 0px 0px;
  height: 22px;
  min-width: 54px;
  max-width: 54px;
  box-shadow: 0 0 10px #00000052 inset;
  background: none;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties .penalties {
  width: fit-content;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties > div {
  width: fit-content;
  flex-shrink: 0;
  margin: 4px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  overflow-wrap: unset;
  text-overflow: unset;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: var(--actor-input-color);
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties .custom-penalty {
  width: inherit;
  /* background: bisque; */
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-wrap: unset;
  text-overflow: unset;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
}
.app.window-app.sheet.wng.actor.creature-sheet .tab.skills.active .penalties .custom-penalty .penalties-input {
  min-width: 20px;
  padding: 3px 3px 0px 3px;
  margin: 0;
  border-radius: 0px;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  color: #111;
  width: inherit;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 2;
}

.app.window-app.wfrp-browser .import,
.app.window-app.sheet.item-sheet .import,
.app.window-app.sheet.roll-table-config .import,
.app.window-app.sheet.scene-sheet .import,
.app.window-app.sheet.journal-sheet .import,
.app.window-app.sheet.item-sheet .configure-sheet,
.app.window-app.sheet.wng.actor .window-header .import {
  color: #00e5ff00;
  text-align: center;
  background: url(../../img/ui/buttons/button-import.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25px;
  right: 56px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* background: var(--debug-background-color-blue); */
}
.app.window-app.wfrp-browser .import {
  top: 8px;
  right: 31px;
}

.app.window-app.sheet.item-sheet .configure-sheet,
.app.window-app.sheet.item-sheet .import{
  top: 19px;
  right: 59px;
}

.app.window-app.sheet.journal-sheet .import {
  top: 8px;
  left: 36px;
}

.app.window-app.sheet.roll-table-config .import,
.app.window-app.sheet.scene-sheet .import {
  top: 8px;
  right: 32px;
}

.app.window-app.sheet.item-sheet .configure-sheet {
  background: url(../ui/buttons/button-configure-sheet.png);
}

.compendium .entry-name {
  color: #CCC;
}

.compendium .directory-list .directory-item {
  border-bottom: 1px solid #444;
}


#client-settings .sheet-tabs {
  flex: 0 0 32px;
  border-bottom: none;
  line-height: 32px;
  justify-content: space-between;
}
#client-settings .sheet-tabs .item {
  margin: 3px 0px;
  padding: 4px 3px 1px 3px;
  max-width: 160px;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #0a1829d9;
}
#client-settings .sheet-tabs .item:hover {
  box-shadow: 0 0 8px #ff9f00 !important;
}
#client-settings .sheet-tabs .item.active {
  background: #290a0ad9;
}
#client-settings .sheet-tabs .item i {
  display: none;
}

#client-settings .window-content .sheet-footer{
  max-height: 30px;
}

.item .content .item-controls {
  margin-left: 10px;
}

.post-item img {
  max-width: 100px;
  max-height: 100px;
  border:none;
}


/* ==================== MODULE COMPATIBILITY ======================== */

.dice-calculator__input-wrapper > textarea {
  background: none;
  border: 1px solid #CCC;
  color: white;
}
.dice-calculator__input > label {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
}

.dice-calculator > button, .dice-calculator .dice-calculator--button {
  font-family: var(--actor-input-font-family);
  color: white;
}

.metacurrency-value {
  left: 8px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.chat-buttons {
  position: relative;
  left: 280px;
  width: 40px;
  height: 0px;
}

.card-edit {
  background: none;
  box-shadow: none;
  width: 25px;
  text-align: center;
}

.chat-buttons {
  opacity:0.6
}

.table-result,
.roll-table-config input{
  color: #CCC;
  font-family: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
}

.message-content .entity-link {
  color: black;
}

.result-range > input,
.result-weight > input,
.result-details > input
{
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

.result-type > select,
.result-details > select {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

.roll-table-config ol.table-results .table-result.roulette {
  background: rgba(95, 2, 2, 0.63);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: -1px 0;
}

.result-text {
  color:black;
}

.app.window-app.sheet .roll-table-config  {
  width: 725px;
}

.filepicker .tabs {
  color: #CCC
}
#sidebar #tables .directory-list .directory-item {
  padding: 3px 3px;
  border: 3px groove #564d3a;
  box-shadow: 0 0 6px #000 inset;
  line-height: normal;
  background: #000000b5;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #dadada;
  text-shadow: 1px 1px 2px black;
}

#sidebar #tables .directory-list .directory-item h4{
  top:17px;
  position: relative;
}

#sidebar #tables .directory-list .directory-item .profile{
  content: url(../ui/buttons/d10.png);
}

#av-config .sheet-tabs .item {
  color: #CCC
}

.app.window-app .tiles-browser .form-group {
  flex: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
}

.tiles-browser .outer {
  color: #CCC;
}

.app.window-app.sheet.wng.actor .general .charimg {
  object-fit: contain;
}

.tiles-browser .directory {
  overflow-y: auto;
  overflow-x: hidden !important ;
}

.chargen-button {
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color:#7d5d3b;
  border-radius:3px;
  border:1px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #4d3534;
  position: relative;
  left: 120px;
}
.attribute-career-buttons{
  display:flex;
  justify-content: space-evenly
}
.attribute-career-buttons .chargen-button {
  left : 0px;

}

.attribute-career-buttons .chargen-button.careerReroll {
  margin-top : 10px;
}

.chargen-button:hover {
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color:#634b30;
}
.chargen-button:active {
  position:relative;
  top:1px;
}

.species-select {
  font-weight: 1000;
}

.exp-drag {
  border: 1px dotted black;
  width: fit-content;
  padding: 3px;
  margin: 5px;
}

.gen-talents,
.gen-skills {
  border: 1px dotted black;
  padding: 5px;
  margin: 5px;
}

input.card-edit {
  width: 32px;
  border: inset;
}

.wng.actor .combat .advantage {
  margin-bottom: 5px;
  width: 100%;
  height: 24px;
  border: 1px solid #736953a6;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--input-label-font-weight);
  color: var(--actor-input-color);
  background: none;
  box-shadow: none;
  text-align: left;
  display: inline-block;
  flex-grow: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

.wng.actor .advantage-label {
  width: 20%;
  height: 23px;
  padding: 2px 0px 0px 0px;
  font-family: var(--actor-label-font-family);
  font-size: var(--actor-label-font-size);
  font-weight: var(--actor-label-font-weight);
  color: var(--actor-label-color);
  border: none;
  border-right: 1px solid #736953a6;
  background: none;
  box-shadow: 0 0 10px #6b3a0f87 inset;
  text-align: center;
  display: inline-block;
  flex-grow: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}


#package-configuration .package-list, #module-management .package-list {
  height: unset
}

.message-content .opposed-message {
  text-align:center
}
.message-content .opposed-tokens {
  display: flex;
  justify-content: space-around;
}

.message-content .opposed-tokens img{
  border: 1px dotted black;
}

.message-content .opposed-tokens.opposed-result {
  height: 0;
  top: -47px;
  position: relative;
  right: -138px;
}

.message-content .opposed-tokens .winner img {
  border-color: green;
}

.message-content .opposed-tokens .loser img {
  border-color: red;
}

.message-content .unopposed-button {
  text-align: right;
  height: 0px;
  margin-bottom:15px
}
#hotbar {
  left: 238px;
}

.macro-sheet .sheet-header h1 input {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

.drawing-sheet textarea,
.macro-sheet textarea[name="command"] {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

button.capture-position {
  color: #CCC;
}


.condition-chat,
.chat-roll,
.table-click,
.symptom-tag,
.skill-lookup,
.talent-lookup,
.skill-drag,
.talent-drag {
  background: #DDD;
  border-radius: 2px;
  padding: 0 2px;
  border: 1px solid #BBB;
  white-space: nowrap;
  word-break: break-all;
}

.table-input {
  width: 200px;
}
.app.window-app .window-header .popout {
  color: #00c2d800;
  text-align: center;
  background: url(../ui/buttons/popout.png);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 8px;
  right: 5px;
  overflow: hidden;
}

.app.window-app.character-sheet .popout,
.app.window-app.npc-sheet .popout,
.app.window-app.creature-sheet .popout{
  left: 30px;
  top: 25px;
}

.app.window-app.journal-sheet .popout {
  left: 26px;
  top: 8px;
}

#wng-browser .window-content
{
  background: url(../ui/frames/window-app-background-bookshelf.png);
  color: white;
}

#wng-browser .browser {
  display: flex;
  height: 100%
}

#wng-browser .browser > *{
  flex: 1;
}

#wng-browser .item-filter
{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#wng-browser .item-list {
  list-style: none;
  line-height: 48px;
  border: none;
  box-shadow: none;
  height: 100%;
  overflow: auto;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  z-index: 1;
  top: -30px;
  position: relative;
}

#wng-browser .browser-item{
  display: flex;
  margin: 5px 0px 5px 0px;
  padding: 3px;
  background: #bb8b4326;
  box-shadow: inset 0px 0px 3px black;
}
#wng-browser .browser-item:nth-child(odd) {
  background: #69573c47;
}
#wng-browser .item-list .image {
  background-size: 32px;
  background-repeat: no-repeat;
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
}
#wng-browser .item-list .icon {
  background-size: 24px;
  background-repeat: no-repeat;
  min-height: 24px;
  max-height: 24px;
  min-width: 24px;
  max-width: 24px;
}
#wng-browser .item-list a {
  display: flex;
  vertical-align: middle;
}
#wng-browser .item-list a div {
  /* height: 32px; */
  vertical-align: middle;
  margin-left: 5px;
  line-height: normal;
  padding-top: 10px;
  text-align: left;
}

#wng-browser select,
#wng-browser input {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
  height: auto;
  border-radius: 0px;
}
#wng-browser .filter-top select,
#wng-browser .filter-top input {
  width: 100%;
}
#wng-browser .filter-top input[type="checkbox"] {
  width: initial;
}
#wng-browser {
  font-family: var( --actor-input-font-family);
  font-size : 18px;
  font-weight: normal;
}

#wng-browser .comparison-filter {
  display: flex;
}

#wng-browser .item-filter.save-scroll {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  padding: 0px 6px 0px 0px;
  margin: 8px 4px 8px 4px;
  border: none;
  background: none;
}
#wng-browser .item-filter.save-scroll div {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: left;
  padding: 4px 3px;
  border: 1px solid #5d513e;
  background: #080808;
  margin-bottom: 4px;
}
#wng-browser .item-filter.save-scroll h2 {
  margin: 0px 0px 3px 0px;
  padding: 4px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #290a0ad9;
  text-align: center;
}
#wng-browser .item-filter.save-scroll h2:nth-of-type(2) {
  margin-top: 5px;
}
#wng-browser .item-filter.save-scroll .filter-top {
  background: #1f1f1fb5;
}
#wng-browser .item-filter.save-scroll div div {
  padding: 0px;
  border: none;
  margin: 0px;
}
#wng-browser .item-filter.save-scroll div input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin-left: 6px;
  transform: scale(1);
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
  height: auto;
}
#wfrp-browser .comparison-filter {
  padding: 0px;
  border: none;
  margin: 0px;
}

#wng-browser .query-results {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  text-align: center;
  padding: 0px 0px 0px 6px;
  margin: 40px 4px 11px 4px;
  border: none;
  background: none;
}
#wng-browser .query-results h2 {
  margin: 0px 0px 3px 0px;
  padding: 4px 3px 1px 3px;
  font-family: var(--actor-input-font-family);
  font-size: 16px;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  line-height: normal;
  border: 3px double #564d3a;
  background: #230808;
  text-align: center;
  z-index: 2;
  position: relative;
  top: -32px;
}

#wng-browser .item-filter.save-scroll .filter-top div {
  background: none;
}

#wng-browser .filter-top div .dynamic-filter.encumbrancce,
#wng-browser .filter-top div .dynamic-filter.statusStanding,
#wng-browser .filter-top div .dynamic-filter.carries,
#wng-browser .filter-top div .dynamic-filter.wounds,
#wng-browser .filter-top div .dynamic-filter.cn,
#wng-browser .filter-top div .dynamic-filter.weaponRange {
  border-left: none;
}

.scene-sheet .window-content .form-group.initial-position .form-fields label {
  border-left: none;
  margin-right: 0px;
}

.scene-sheet .window-content .form-group.initial-position .form-fields .capture-position {
  flex: 1;
  width: -webkit-fill-available;
  margin: 0 3px 0px 3px !important;
  border: 1px solid black;
  border-image: url(../ui/footer-button.png) 10 repeat;
  border-image-width: 4px;
  border-image-outset: 0px;
  box-shadow: none;
  background: url(../ui/sidebar_button-background_red.png) repeat;
  background-origin: padding-box;
  font-family: var(--major-button-font-family);
  font-size: var(--major-button-font-size);
  font-weight: var(--major-button-font-weight);
  color: var(--major-button-color);
}
.scene-sheet .window-content .form-group.initial-position .form-fields .capture-position i {
  font-weight: 600;
  transform: scale(0.8);
  color: #b9b9b9;
}
#wng-browser .name-icon {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#wng-browser .name-icon .icon{
  margin-top: 3px;
}

.range-value {
  color: #CCC
}

#calendar  {
  bottom: 122px !important;
  left: 14px !important;
}

.dd-import-text {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
  height: 300px;
}

.tox-toolbar-overlord {
  background: none !important;
}
.tox-toolbar__primary {
  background: none !important;
}
.tox-tinymce .tox-toolbar__group button {
  background: none !important;
  border-image: none !important;
  color: black !important;
  width: auto !important;
  opacity: 1;
  font-size: 12px !important;
  height: 26px !important;
  margin: 2px 2px 2px 2px !important;
  font-style: normal;
  font-family: "Signika", sans-serif !important;
  box-shadow: inset 0px 0px 12px #6b3a0f87 !important;
}

.tox .tox-toolbar__group {
  width: 100%
}

.fxmaster.directory-list {
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
}


#effects-config.app.window-app {
  height: 480px !important
}
#filter-config.app.window-app {
  height: 175px !important
}
#effects-config .window-content {
  color: #CCC;
}

#filter-config .window-content,
#effects-config .window-content {
  color: #CCC;
}

#filter-config input[type="checkbox"],
#effects-config input[type="checkbox"] {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #cccccc;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 8px inset black;
  background: #352516;
  position: relative;
  top: 2px;
}

#filter-config input,
#effects-config input {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family);
  font-size: var(--actor-input-font-size);
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: 1px solid #736953a6;
  border-left: none;
  box-shadow: 0px 0px 10px inset black;
  background: #352516;
}

#filter-config input[type="range"],
#effects-config input[type="range"]
{
  border: none;
  background: none;
  box-shadow: none;
}

#effects-config .flex2::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #7d5900;
  height: 11px;
  width: 11px;
  border-radius: 5px;
  background: #212121;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000 inset, 0px 0px 2px #0d0d0d; /* Add cool effects to your sliders! */
}
#effects-config .flex2::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #820f0f , #82820d);
}

.window-app.vtta h1 {
  padding: 1px 3px;
  margin: 0;
  font-family: var(--actor-input-font-family) !important;
  font-weight: var(--actor-input-font-weight);
  color: #d6d6d6;
  border: none
}

.window-app.vtta h1 {
  font-family: var(--actor-input-font-family) !important;
}

.token-mold nav >* {
  color: #CCC !important;
}

#permissions-config .hint {
  color: #CCC
}